<header class="main-header" ng-controller="PatientHeadController as vm">

    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="dist/img/logoslogan2.png"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="dist/img/logoslogan.png"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!--<li class="dropdown user user-search">-->

                    <!--<a href="" class="dropdown-toggle" data-toggle="modal" data-target="#myModal10">-->
                        <!--<img src="dist/img/search-for-user.svg" alt="search">-->
                    <!--</a>-->

                <!--</li>-->

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">

                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img id="img2" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{vm.patient.patientName}}</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img id="img3" class="img-circle" alt="User Image">
                            <!--<p> Alexander Pierce - Surgry Doctor <small>Member since Nov. 2012</small> </p>-->
                        </li>

                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#!/patient/setting">الإعدادات</a>
                                </div>
                            </div>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#!/patient" class="btn btn-default btn-flat">الملف الشخصى</a>
                            </div>

                            <div class="pull-right">
                                <a href="#!/login" ng-click="logOut()" class="btn btn-default btn-flat">خروج</a>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="row">
    <div class="col-sm-6">
        <div class="modal fade" id="myModal10" role="dialog">
            <div class="patient_modal">
                <div class="container">
                    <div class="col-xs-12">

                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">البحث عن</h4>
                                </div>

                                <div class="modal-body">
                                    
                                    <form name="form" ng-submit="vm.search(1)">

                                        <div class="search-back">
                                            <div class="search-body">

                                                <div class="btn-group">
                                                    <img src="dist/img/medical-stethoscope.png" />
                                                    <select class="form-control" id="mainSelect" onchange="chooseSelect(this)" ng-model="vm.searchType">
                                                        <option value="" selected>اختار النوع</option>
                                                        <option class="options" value="Doctor">دكتور</option>
                                                        <option class="options" value="Pharmacy">صيدليه</option>
                                                        <option class="options" value="Lap">معمل</option>
                                                        <option class="options" value="Radiation center">مركز اشعة</option>
                                                    </select>
                                                </div>

                                                <div class="btn-group">
                                                    <img src="dist/img/medical-stethoscope.png" />
                                                    <select class="form-control" id="theSelect" ng-model="vm.searchModel.specialty">
                                                        <option value="" selected>التخصص</option>
                                                        <option value="Allergist/Immunologist">Allergist/Immunologist</option>
                                                        <option value="Cardiologist">Cardiologist</option>
                                                        <option value="Chiropractor">Chiropractor</option>
                                                        <option value="Dermatologist">Dermatologist</option>
                                                        <option value="Family Practitioner">Family Practitioner</option>
                                                        <option value="Obstetrician/Gynecologist">Obstetrician/Gynecologist</option>
                                                        <option value="Orthopedic Surgeon">Orthopedic Surgeon</option>
                                                        <option value="Pediatrician">Pediatrician</option>
                                                        <option value="Physical Medicine and Rehab">Physical Medicine and Rehab</option>
                                                        <option value="Plastic Surgeon">Plastic Surgeon</option>
                                                        <option value="Podiatrist">Podiatrist</option>
                                                        <option value="Psychiatrist">Psychiatrist</option>
                                                        <option value="Urgent Care">Urgent Care</option>
                                                    </select>
                                                </div>

                                                <div class="btn-group">
                                                    <img src="dist/img/pin.png" />
                                                    <select class="form-control" ng-model="vm.searchModel.government">
                                                        <option value="" disabled selected>المحافظة</option>
                                                        <option value="المنوفية">المنوفية</option>
                                                    </select>
                                                </div>

                                                <div class="btn-group">
                                                    <img src="dist/img/pin.png" />
                                                    <select class="form-control" ng-model="vm.searchModel.area">
                                                        <option value="" disabled selected>المنطقة</option>
                                                        <option value="شبين الكوم">شبين الكوم</option>
                                                    </select>
                                                </div>

                                                <button type="submit" class="btn btn-danger">
                                                    <span class="hidden-xs">ابحث</span>
                                                    <span class="visible-xs">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                    </form>
                                    
                                    <!-- search result for doctor-->
                                    <div  ng-if="vm.type === 'Doctor'" class="search-result">

                                        <div class="result-item" ng-repeat="doctor in vm.doctors">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="user_img">
                                                        <img ng-if="doctor[6]" class="result-img" src="{{ doctor[6] }}" />
                                                        <!--<p class="result-view">277 Views</p>-->
                                                    </div>

                                                </div>
                                                <div class="col-sm-9 result-date">
                                                    <h4>{{ doctor[2] }}</h4>
                                                    <p>{{ doctor[4] }}</p>
                                                    <p>{{ doctor[5] }}</p>


                                                    <div class="result-more">
                                                        <div onclick="seeMore(this)" class="result-down">
                                                            <button id="{{ doctor[2] }}" class="btn btn-danger">مشاهدة المزيد</button>
                                                        </div>

                                                        <div onclick="seeLess(this)" class="result-up">
                                                            <button class="btn btn-dark">مشاهدة اقل</button>
                                                        </div>
                                                    </div>

                                                    <ul class="list-unstyled result-ul">
                                                        <li><i class="fa fa-map-marker fa-lg"></i> {{ doctor[0]}}</li>
                                                        <li><i class="fa fa-phone fa-lg"></i> {{ doctor[1] }}</li>
                                                        <li><i class="fa fa-envelope-square fa-lg"></i>{{ doctor[3] }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- search result for pharmacy -->
                                    <div ng-if="vm.type === 'Pharmacy'" class="search-result">

                                        <div class="result-item pharm_panel" ng-repeat="phar in vm.phars">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="user_img">
                                                        <img ng-if="phar.picture" class="result-img" src="{{phar.picture}}" />
                                                        <!--<p class="result-view">277 Views</p>-->
                                                    </div>
                                                </div>

                                                <div class="col-sm-9 result-date">
                                                    <h4>{{ phar.pharName }}</h4>

                                                    <div class="result-more">
                                                        <div onclick="seeMore(this)" class="result-down">
                                                            <button class="btn btn-danger">مشاهدذ المزيد</button>
                                                        </div>

                                                        <div onclick="seeLess(this)" class="result-up">
                                                            <button class="btn btn-dark">مشاهدة اقل</button>
                                                        </div>
                                                    </div>
                                                    <ul class="list-unstyled result-ul">
                                                        <li><i class="fa fa-map-marker fa-lg"></i>{{ phar.address }}</li>
                                                        <li><i class="fa fa-phone fa-lg"></i>{{ phar.mobileNo }} - {{ pahr.addMobileNo }}</li>
                                                        <li><i class="fa fa-envelope fa-lg"></i>{{ phar.email }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- search result for lab -->
                                    <div ng-if="vm.type === 'Lap'" class="search-result">

                                        <div class="result-item pharm_panel" ng-repeat="lap in vm.laps">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="user_img">
                                                        <img ng-if="lap.picture" class="result-img" src="{{lap.picture}}" />
                                                        <!--<p class="result-view">277 Views</p>-->
                                                    </div>
                                                </div>

                                                <div class="col-sm-9 result-date">
                                                    <h4>{{ lap.lapName }}</h4>

                                                    <div class="result-more">
                                                        <div onclick="seeMore(this)" class="result-down">
                                                            <button class="btn btn-danger">مشاهدة المزيد</button>
                                                        </div>

                                                        <div onclick="seeLess(this)" class="result-up">
                                                            <button class="btn btn-dark">مشاهدة اقل</button>
                                                        </div>
                                                    </div>

                                                    <ul class="list-unstyled result-ul">
                                                        <li><i class="fa fa-map-marker fa-lg"></i>{{ lap.address }}</li>
                                                        <li><i class="fa fa-phone fa-lg"></i>{{ lap.mobileNo }} - {{ lap.addMobileNo }}</li>
                                                        <li><i class="fa fa-envelope fa-lg"></i>{{ lap.email }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- search result for radiation -->
                                    <div ng-if="vm.type === 'Radiation center'" class="search-result">

                                        <div class="result-item pharm_panel"  ng-repeat="rad in vm.rads">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <div class="user_img">
                                                        <img ng-if="rad.picture" class="result-img" src="{{rad.picture}}" />
                                                        <!--<p class="result-view">277 Views</p>-->
                                                    </div>
                                                </div>

                                                <div class="col-sm-9 result-date">
                                                    <h4>{{ rad.radName }}</h4>

                                                    <div class="result-more">
                                                        <div onclick="seeMore(this)" class="result-down">
                                                            <button class="btn btn-danger">مشاهدة المزيد</button>
                                                        </div>

                                                        <div onclick="seeLess(this)" class="result-up">
                                                            <button class="btn btn-dark">مشاهدة اقل</button>
                                                        </div>
                                                    </div>

                                                    <ul class="list-unstyled result-ul">
                                                        <li><i class="fa fa-map-marker fa-lg"></i>{{ rad.address }}</li>
                                                        <li><i class="fa fa-phone fa-lg"></i>{{ rad.mobileNo }} - {{ lap.addMobileNo }}</li>
                                                        <li><i class="fa fa-envelope fa-lg"></i>{{ rad.email }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
