<div class="head" ng-controller="PatientHeadController as vm">

    <div class="row">
        <div>
            
            <div class="col-md-2 col-xs-4">
                <figure class="im snip1558">
                    <img class="img-responsive" id="img1" alt="sq-sample14"/>
                    
                    <figcaption>
                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-pencil"></i>
                    </figcaption>
                    
                    <a href=""></a>
                </figure>
            </div>
            
            <div class="col-md-10 col-xs-8 padding_zero">
                <!--<h2 class="col-xs-12 header1">{{ vm.pharmacies.doctorName }}</h2>-->
                <p class="col-xs-12">{{ vm.patient.email }}</p>
                <p class="col-xs-12">{{ vm.patient.gender }} </p>
                <p class="col-xs-12">{{ vm.patient.dateOfBirth }} </p>
                <p class="col-xs-12"> {{ vm.patient.mobileNumber }} </p>
                <p class="col-md-7">{{ vm.patient.government }}</p>
                <p class="col-md-7">{{ vm.patient.area }}</p>
                <p class="col-md-7">{{ vm.patient.address }}</p>
                <!--<div class="col-md-3"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4">+ Add Assistant</button> </div>-->
            </div>
            
            <div class="col-sm-6 col-md-offset-3">
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog" style="position: relative">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">تغير الصورة الشخصية</h4>
                                </div>
                                
                                <div class="modal-body">

                                    <form>
                                        <input type="file" id="upload" accept="image/*"/>
                                        <!--Cropped Image: <br>-->
                                        <br>
                                        <img style="width: 170px; height: 150px;" ng-src="{{cropped.source}}"/>
                                        <!--<img ng-src="cropped.source"/>-->
                                        <!--<img ng-src="{{cropped.image}}"/>-->
                                        <!--<img ng-src="cropped.image"/>-->

                                        <!-- Croppie needs a container -> using 'boundary' option -->
                                        <!--<croppie ng-if="cropped.source" src="cropped.source"-->
                                        <!--ng-model="cropped.image"-->
                                        <!--options="{boundary:{width:300,height:350}}"></croppie>-->

                                        <br>

                                        <!--Cropped Image: <br>-->
                                        <!--<img ng-src="{{cropped.image}}"/>-->
                                    </form>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()"> اغلاق</button>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="uploadImg()"> تحميل </button>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            
        </div>

    </div>

</div>