<div class="login-page">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="login-box-body">

            <div class="login-logo">
                <a href="index.html"><b>Health</b>Tag</a>
            </div>

            <div class="login_content">
                <form name="logform" ng-submit="vm.login()">

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error': logform.username.$dirty && logform.username.$error.required }">
                        <input type="text" name="username" class="form-control" placeholder="E-mail"
                               ng-model="vm.username" required/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <span ng-show="logform.username.$dirty && logform.username.$error.required">E-mail is required</span>
                    </div>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error': logform.password.$dirty && logform.password.$error.required }">
                        <input type="password" name="password" class="form-control" ng-model="vm.password" required
                               placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span ng-show="logform.password.$dirty && logform.password.$error.required">Password is required</span>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">

                            <div class="remeber">
                                <label><input ng-model="vm.remember" type="checkbox"> Remember Me </label>
                            </div>
                        </div><!-- /.col -->

                        <div class="col-xs-4">
                            <button type="submit"  ng-disabled="logform.$invalid || vm.dataLoading"
                                    class="btn btn-primary btn-block btn-flat">Sign In
                            </button>
                            <br>
                            <span style="color: red">{{vm.errorMessage}}</span>

                        </div><!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-xs-6 register-label">
                            <a href="#!/register"> Register </a>
                        </div>
                        <div class="col-xs-6 register-label">
                            <a href="#!/forgetPassword"> forget password</a>
                        </div>
                    </div>

                </form>
            </div>

            <div class="verify_content text_center">
                <!--<div class="phone_icon">-->
                <!--<img src="dist/img/smartphone.svg" alt="phone" />-->
                <!--</div>-->
                <!--<div class="col-xs-6 register-label">-->
                <!--<a href="#!/forgetPassword"> forget password</a>-->
                <!--</div>-->

            </div>

            <!--<div class="verify_body">-->
            <!--<p>We have sent a verification code on your phone number <span>01******56</span></p>-->
            <!--<p>Please enter the verification code below</p>-->

            <!--<div class="input_group">-->
            <!--<input type="text">-->
            <!--<input type="text">-->
            <!--<input type="text">-->
            <!--<input type="text">-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="verify_bottom">-->
            <!--<img src="dist/img/enter.svg" alt="go" />-->
            <!--</div>-->
        </div>


    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
</div>

<!--<script>-->
<!--$(".verify_content").hide();-->

<!--function login() {-->
<!--$(".login_content").hide();-->
<!--$(".verify_content").show();-->
<!--}-->
<!--</script>-->
