<header class="main-header">

    <!-- Logo -->
    <a  class="logo" href="#!/radiation">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="dist/img/logoslogan2.png"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="dist/img/logoslogan.png"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu" >
            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a  href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="img2" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ vm.radiations.radName }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img id="img3" class="img-circle" alt="User Image">
                            <p> Alexander Pierce - Surgry Doctor <small>Member since Nov. 2012</small> </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <!--<a >Followers</a>-->
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#!/radiation/setting">Settings</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#!/radiation" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#!/login" ng-click="vm.logOut()" class="btn btn-default btn-flat">Sign out</a>

                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

