<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!--<section class="content-header">-->
        <!--<h1>{{ vm.doctor.doctorName }}</h1>-->
        <!--</section>-->


        <!-- Main content -->
        <section class="content">

            <!--head-->
            <!--<div ng-include="'app-resources/doctor/doctorLayout/head.html'"></div>-->
            <!--<div  class="row">-->
            <!--<form name="form" class="col-md-6 col-md-offset-3" role="form">-->

            <!--<div ng-hide="vm.clinicStatus == 1" class="row">-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-4 control-label">Choose Clinic</label>-->
            <!--<div class="col-sm-8">-->
            <!--<select class="form-control" name="groups" id="grp" ng-model="vm.opendClinicId" ng-change="vm.chooseValueChanged()">-->
            <!--<option ng-repeat="clinic in vm.allClinics" value="{{clinic.clinicId}}" ng-selected="$first">{{clinic.address}}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <!--<p ng-hide="vm.clinicFlag == 1" class="col-sm-8 col-sm-offset-4" ng-show="form.fullname.$dirty && form.fullname.$error.required"-->
            <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
            <!--you need to add at least one clinic to show patient log</p>-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->

            <!--<div class="data">-->
            <!--<div class="box box-danger">-->
            <!--<div class="bio">-->
            <!--<h3>Brief Profile :</h3>-->
            <!--<p>{{vm.doctor.briefProfile}}</p>-->
            <!--</div>-->

            <!--<div class="bio">-->
            <!--<h3>Bio :</h3>-->
            <!--<p>{{vm.doctor.bio}}</p>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <div class="clinic bio">
                <div class="row" >
                    <div class="col-sm-12"><h3>Clinic Data </h3></div>
                    <div class="col-sm-3"><h3>Current Clinic : </h3></div>
                    <div class="col-sm-6"><h3>{{vm.currentAddress}} </h3></div>
                    <div class="col-sm-3 clinic_add">
                        <button type="button" class="btn btn-primary  pull-right" data-toggle="modal"
                                data-target="#add_clinic">+ Add Clinic
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div data-ng-repeat="cl in vm.allClinics" class="col-md-4 col-sm-12">
                        <div class="clin">
                            <div ng-click="vm.choose(cl)">
                                <h3>{{cl.address}}</h3>
                                <p><span>Governerate : </span> {{cl.governmentLocation}}</p>
                                <p><span>Area : </span> {{cl.areaLocation}}</p>
                                <p><span>Feez : </span> {{cl.examinationFees}}</p>

                            </div>
                            <div class="butn">
                                <button class="btn" ng-click="vm.beforeEditClinic(cl)">Edit</button>
                                <!--<button class="btn btn-danger" ng-click="vm.delClinic(cl.clinicId)">Delete</button>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="add_clinic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content" style="width: 660px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Clinic</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <form class="col-md-12" id="formClinic" name="formClinic" role="form">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Governerate</label>

                                                <div class="col-sm-7">
                                                    <select class="form-control" id="governmentLocation"
                                                            name="governmentLocation"
                                                            ng-model="vm.clinic.governmentLocation">

                                                        <!--<option class="cairo">القاهرة</option>-->
                                                        <!--<option class="alex">الاسكندرية</option>-->
                                                        <!--<option class="">الاسماعيلية</option>-->
                                                        <!--<option>اسوان</option>-->
                                                        <!--<option>اسيوط</option>-->
                                                        <!--<option>الاقصر</option>-->
                                                        <!--<option>البحر الاحمر</option>-->
                                                        <!--<option>البحيرة</option>-->
                                                        <!--<option>بنى سويف</option>-->
                                                        <!--<option>بورسعيد</option>-->
                                                        <!--<option>جنوب سيناء</option>-->
                                                        <!--<option>الجيزة</option>-->
                                                        <!--<option>الدقهلية</option>-->
                                                        <!--<option>دمياط</option>-->
                                                        <!--<option>سوهاج</option>-->
                                                        <!--<option>السويس</option>-->
                                                        <!--<option>الشرقية</option>-->
                                                        <!--<option>شمال سيناء</option>-->
                                                        <!--<option>الغربية</option>-->
                                                        <!--<option>الفيوم</option>-->
                                                        <!--<option>القليوبية</option>-->
                                                        <!--<option>قنا</option>-->
                                                        <!--<option>كفر الشيخ</option>-->
                                                        <!--<option>مطروح</option>-->
                                                        <option selected >المنوفية</option>
                                                        <!--<option>المنيا</option>-->
                                                        <!--<option>الوادى الجديد</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': form.address.$dirty && (form.address.$error.required) }">
                                                <label class="col-sm-3 control-label">Address</label>

                                                <div class="col-sm-7">
                                                    <input name="address" id="address" class="form-control"
                                                           ng-model="vm.clinic.address"
                                                           required placeholder="Address" type="text">
                                                </div>
                                            </div>
                                            <p ng-show="form.address.$dirty && form.address.$error.required"
                                               style="margin-left:2%; color:#e62222"><i
                                                    class="fa fa-exclamation-triangle"></i> You
                                                should
                                                enter clinic Address</p>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Area Location</label>

                                                <div class="col-sm-7">
                                                    <input class="form-control" placeholder="Area Location"
                                                           ng-model="vm.clinic.areaLocation" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Phone</label>

                                                <div class="col-sm-7">
                                                    <input class="form-control" placeholder="Phone" type="text"
                                                           ng-model="vm.clinic.phone1">
                                                </div>

                                                <!--<span class="col-sm-2"><i class="fa fa-plus-square"></i></span>-->
                                            </div>
                                        </div>
                                        <!--<div class="row">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-3 control-label">Phone2</label>-->

                                                <!--<div class="col-sm-7">-->
                                                    <!--<input class="form-control" placeholder="Phone2" type="text"-->
                                                           <!--ng-model="vm.clinic.phone2">-->
                                                <!--</div>-->

                                                <!--&lt;!&ndash;<span class="col-sm-2"><i class="fa fa-plus-square"></i></span>&ndash;&gt;-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-3 control-label">Phone3</label>-->

                                                <!--<div class="col-sm-7">-->
                                                    <!--<input class="form-control" placeholder="Phone3" type="text"-->
                                                           <!--ng-model="vm.clinic.phone3">-->
                                                <!--</div>-->

                                                <!--&lt;!&ndash;<span class="col-sm-2"><i class="fa fa-plus-square"></i></span>&ndash;&gt;-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-sm-3 control-label">Examination Fees</label>-->

                                                <!--<div class="col-sm-7">-->
                                                    <!--<input class="form-control" placeholder="Examination Fees"-->
                                                           <!--ng-model="vm.clinic.examinationFees">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="row">
                                            <!--btno-->
                                            <div class="col-sm-7 col-sm-offset-3">
                                                <button ng-disabled="formClinic.$invalid" ng-click="vm.clinicOp()"
                                                        class="btn btn-success btn-block">Save Clinic
                                                </button>
                                            </div>
                                        </div>
                                        <!--<span ng-if="vm.dataClinicLoading">Clinic added succsesfuly</span>-->
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->
