<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <div class="row rowPatientLog">
                    <div class="col-xs-9">
                        <h3 class="box-title">My Patients</h3>
                    </div>

					<!--<div class="col-xs-3">-->
						<!--<button class="btn btn-primary col-sm-12" data-toggle="modal" data-target="#myModal3">+ Add Patient</button>-->
					<!--</div>-->

                    <!--<div ng-repeat="patient in vm.allPatients |  filter:vm.query" class="patient">-->
                    <!--<a class="col-md-4 col-sm-6" href=""><img style="width:110px" src={{patient.picture}} alt="Red dot"/></a>-->
                    <!--<div class="col-md-8 col-sm-6 date">-->
                    <!--<a ><p><span>Name : </span> {{patient.patientName}}</p></a>-->
                    <!--<p><span>Mobile Number : </span> {{patient.mobileNumber}}</p>-->
                    <!--<button  ng-click="vm.viewExamination(patient)"-->
                    <!--style="margin-top: 5%" class="btn btn-danger">Patient Sheets-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->



					<div class="">
						<div class="col-sm-9">
							<input class="form-control" ng-model="vm.query['patientName']" placeholder="Search....." type="search">
						</div>
						

					</div>
                </div>
                <div class="row patient_list">
                    <div  ng-repeat="patient in vm.doctorPatients |  filter:vm.query" class="my_patient col-sm-6">

                        <div class="col-sm-9 patient_data">
                            <div class="patient_img">
                                <img src={{patient.picture}} alt="Red dot"/>
                            </div>

                            <div class="patient_info">
                                <h4>{{patient.patientName}}</h4>
                                <span>{{patient.mobileNumber}}</span>
                            </div>
                        </div>

                        <div class="patient_more">
                            <button class="btn btn-primary" ng-click="vm.viewExamination(patient)"> More Information
                            </button>
                        </div>

                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="modal fade" id="myModal3" role="dialog">-->
                                <!--<div class="modal-dialog">-->
                                    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                            <!--<h4 class="modal-title">Add Patient</h4>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<form name="form" ng-submit="vm.addPatient()" ng-init="vm.firstTrain =true">-->
                                                <!--<div ng-if="vm.firstTrain">-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group"-->
                                                             <!--ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">-->
                                                            <!--<label class="col-sm-4 control-label">Full Name</label>-->

                                                            <!--<div class="col-sm-8">-->
                                                                <!--<input name="fullname" id="fullname"-->
                                                                       <!--class="form-control"-->
                                                                       <!--ng-model="vm.patient.patientName" required-->
                                                                       <!--placeholder="Full Name" type="text">-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<p ng-show="form.fullname.$dirty && form.fullname.$error.required"-->
                                                           <!--style="margin-left:2%; color:#e62222"><i-->
                                                                <!--class="fa fa-exclamation-triangle"></i> You-->
                                                            <!--should-->
                                                            <!--enter your full name</p>-->

                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group"-->
                                                             <!--ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">-->

                                                            <!--<label class="col-sm-4 control-label">Mobile Number</label>-->

                                                            <!--<div class="col-sm-8">-->
                                                                <!--<input name="mobileNumber" id="mobileNumber"-->
                                                                       <!--class="form-control"  required-->
                                                                       <!--ng-model="vm.patient.mobileNumber"-->
                                                                       <!--ng-keyup="vm.checkMobile()"-->
                                                                       <!--placeholder="Mobile Number">-->
                                                            <!--</div>-->

                                                        <!--</div>-->
                                                        <!--<p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"-->
                                                           <!--style="margin-left:2%; color:#e62222"><i-->
                                                                <!--class="fa fa-exclamation-triangle"></i> You-->
                                                            <!--should-->
                                                            <!--chosee your Mobile number</p>-->
                                                        <!--<p ng-show="form.mobileNumber.$dirty && !vm.mobileAviable"-->
                                                           <!--style="margin-left:2%; color:#e62222">-->
                                                            <!--<i class="fa fa-exclamation-triangle"></i> This Mobile-->
                                                            <!--Number is-->
                                                            <!--not-->
                                                            <!--aviable</p>-->
                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group"-->
                                                             <!--ng-class="{ 'has-error': form.cardNumber.$dirty && form.cardNumber.$error.required }">-->
                                                            <!--<label class="col-sm-4 control-label">Card Number</label>-->

                                                            <!--<div class="col-sm-8">-->
                                                                <!--<input name="cardNumber" id="cardNumber"-->
                                                                       <!--class="form-control"-->
                                                                       <!--ng-model="vm.patient.cardId.cardNumber" required-->
                                                                       <!--placeholder="Card Number" type="text">-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required"-->
                                                           <!--style="margin-left:2%; color:#e62222"><i-->
                                                                <!--class="fa fa-exclamation-triangle"></i> You-->
                                                            <!--should enter-->
                                                            <!--your Card Number</p>-->
                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="col-sm-8 col-sm-offset-4">-->
                                                            <!--<button ng-disabled="form.$invalid ||!vm.mobileAviable || vm.dataLoading"-->
                                                                    <!--class="btn btn-success  col-sm-6" type="button"-->
                                                                    <!--ng-click="vm.firstTrain = false">-->
                                                                <!--Next Step-->
                                                            <!--</button>-->
                                                            <!--<button type="button" class="btn btn-default"-->
                                                                    <!--data-dismiss="modal">-->
                                                                <!--Close-->
                                                            <!--</button>-->
                                                            <!--<img ng-if="vm.dataLoading"-->
                                                                 <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="add_patient2" ng-if="!vm.firstTrain">-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group">-->
                                                            <!--<label class="col-sm-4 control-label">Smoker</label>-->
                                                            <!--<div class="col-sm-8">-->
                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input  ng-model="vm.patient.smoker" value="Yes" type="radio">Yes-->
                                                                <!--</div>-->
                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input  ng-model="vm.patient.smoker" value="No" type="radio">No-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group">-->
                                                            <!--<label class="col-sm-4 control-label">Hypertension</label>-->
                                                            <!--<div class="col-sm-8">-->
                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input type="radio" ng-model="vm.patient.hypertension" value="Yes">Yes-->
                                                                <!--</div>-->
                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input type="radio" ng-model="vm.patient.hypertension" value="No">No-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="form-group">-->
                                                            <!--<label class="col-sm-4 control-label">Diabetes</label>-->
                                                            <!--<div class="col-sm-8">-->
                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input type="radio" ng-model="vm.patient.diabetes" value="Yes">Yes-->
                                                                <!--</div>-->

                                                                <!--<div class="col-sm-3 remeber">-->
                                                                    <!--<input type="radio" ng-model="vm.patient.diabetes" value="No">No-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="row">-->
                                                        <!--<div class="col-sm-8 col-sm-offset-4">-->
                                                            <!--<button class="btn btn-success col-sm-6"-->
                                                                    <!--type="submit"> Add Patient-->
                                                            <!--</button>-->
                                                            <!--<button class="btn btn-default" ng-click="vm.firstTrain = true">back</button>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                <!--</div>-->
                                            <!--</form>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->
