<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/doctor/doctorLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/doctor/doctorLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <!--head-->
            <div ng-include="'app-resources/doctor/doctorLayout/head.html'"></div>

            <div class="data">
                <div class="box box-danger">
                    <div class="bio">
                        <h3>Brief Profile :</h3>
                        <p>{{vm.doctor.briefProfile}}</p>
                    </div>

                    <div class="bio">
                        <h3>Bio :</h3>
                        <p>{{vm.doctor.bio}}</p>
                    </div>

                </div>
            </div>


        </section>
        <!-- /.content -->
        <section  style="height: 290px"></section>

    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->