<header class="main-header">

    <!-- Logo -->
    <a class="logo" href="#!/doctor">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="dist/img/logoslogan2.png"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="dist/img/logoslogan.png"></span>
    </a>
    
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!--search bar  -->

        <!--<div class="form-group ">-->
        <!--<label class="col-sm-1 col-xs-3 control-label">Search</label>-->

        <!--<div class="col-sm-4 col-xs-4">-->
        <!--<input class="form-control" ng-model="CardNumber" placeholder="Search....." type="search">-->
        <!--</div>-->
        <!--<div class="col-sm-2 col-xs-2">-->
        <!--<button ng-click="GetPatientByCardNumber(CardNumber)" class="btn btn-success">Search</button>-->
        <!--</div>-->

        <!--<p ng-if="search"> No Search Results</p>-->

        <!--<form ng-hide="!vm.allClinics" name="form" role="form">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label">Choose Clinic</label>-->
        <!--<div class="col-sm-4 col-xs-4">-->
        <!--<select class="form-control" name="groups" id="grp" ng-model="vm.opendClinicId"-->
        <!--ng-change="vm.chooseValueChanged()">-->
        <!--<option ng-repeat="clinic in vm.allClinics" value="{{clinic.clinicId}}"-->
        <!--ng-selected="$first">{{clinic.address}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->

        <!--</div>-->
        <!--search bar  end -->


        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">

                    <div class="search_input">
                        <input class="form-control search_input" ng-model="CardNumber" my-enter="GetPatientByCardNumber(CardNumber)" placeholder="Search....." type="search">

                        <div>
                            <a ng-click="GetPatientByCardNumber(CardNumber)" class="search">
                                <img src="dist/img/search.svg" alt="search" />
                            </a>
                        </div>
                    </div>

                    <p ng-if="search"> No Search Results</p>

                </li>

                <li class="dropdown user user-menu">

                    <a class="dropdown-toggle" data-toggle="modal" data-target="#myModal3">
                        <img src="dist/img/new-user.svg">
                    </a>

                </li>

                <li class="dropdown notifications-menu" ng-hide="!vm.allClinics">
                    <!-- Menu toggle button -->
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="dist/img/clinics.svg" alt="clinics" />
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li class="header">You have {{vm.allClinics.length}} Clinics</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li ng-repeat="clinic in vm.allClinics">
                                    <a ng-click="vm.chooseclinic(clinic.clinicId)" ng-class="{'selectedClinic': clinic.clinicId == vm.opendClinicId }">
                                        <img src="dist/img/pharmacy.svg" alt="clinic" />{{clinic.address}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="img2" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{$parent.vm.doctor.doctorName}}</span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img id="img3" class="img-circle" alt="User Image">
                        </li>
                        
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <a href="#!/doctor/">Home</a>

                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#!/doctor/profile">Profile</a>
                                </div>
                            </div>
                        </li>
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#!/doctor/setting" class="btn btn-default btn-flat">Settings</a>
                            </div>
                            <div class="pull-right">
                                <button ng-click="logOut()" class="btn btn-default">Sign out</button>

                            </div>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="row">
    <div class="col-sm-6">
        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Patient</h4>
                    </div>
                    
                    <div class="modal-body">
                        <form name="form" ng-submit="addPatient(form)" ng-init="firstTrain =true">
                            <div ng-show="firstTrain">
                                
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                        <label class="col-sm-4 control-label">Full Name</label>

                                        <div class="col-sm-8">
                                            <input name="fullname" id="fullname" class="form-control" ng-model="patient.patientName" required placeholder="Full Name" type="text">
                                        </div>
                                    </div>
                                    
                                    <p ng-show="form.fullname.$dirty && form.fullname.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should enter your full name</p>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">

                                        <label class="col-sm-4 control-label">Mobile Number</label>

                                        <div class="col-sm-8">
                                            <input name="mobileNumber" id="mobileNumber" class="form-control" required ng-model="patient.mobileNumber" ng-keyup="checkMobile(patient.mobileNumber)" placeholder="Mobile Number">
                                        </div>

                                    </div>
                                    
                                    <p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should chosee your Mobile number</p>
                                    
                                    <p ng-show="form.mobileNumber.$dirty &&  showInvalidMobileNo" style="margin-left:2%; color:#e62222">
                                        <i class="fa fa-exclamation-triangle"></i>please enter valid mobile number </p>
                                    
                                    <p ng-show="form.mobileNumber.$dirty && ! mobileAviable && ! showInvalidMobileNo" style="margin-left:2%; color:#e62222"> <i class="fa fa-exclamation-triangle"></i> This Mobile Number is not aviable</p>
                                </div>

                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error': form.cardNumber.$dirty && form.cardNumber.$error.required }">
                                        <label class="col-sm-4 control-label">Card Number</label>

                                        <div class="col-sm-8">
                                            <input name="cardNumber" id="cardNumber" class="form-control" ng-model="patient.cardId.cardNumber" required placeholder="Card Number" type="text">
                                        </div>
                                    </div>
                                    
                                    <p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required" style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You should enter your Card Number</p>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button ng-disabled="form.$invalid ||! mobileAviable || showInvalidMobileNo" class="btn btn-success  col-sm-6" type="button" ng-click="firstTrain = false "> Next Step </button>
                                        
                                        <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                                        
                                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                </div>

                            </div>

                            <div class="add_patient2" ng-show="!firstTrain">

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Smoker</label>
                                        <div class="col-sm-8">
                                            
                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="Yes" type="radio">Yes
                                            </div>
                                            
                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="No" type="radio">No
                                            </div>
                                            
                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.smoker" value="N/A" type="radio">N/A
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hypertension</label>
                                        <div class="col-sm-8">
                                            
                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.hypertension" value="Yes">Yes
                                            </div>
                                            
                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.hypertension" value="No">No
                                            </div>
                                            
                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.hypertension" value="N/A" type="radio">N/A
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Diabetes</label>
                                        <div class="col-sm-8">
                                            
                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.diabetes" value="Yes">Yes
                                            </div>

                                            <div class="col-sm-3 remeber">
                                                <input type="radio" ng-model="patient.diabetes" value="No">No
                                            </div>
                                            
                                            <div class="col-sm-3 remeber">
                                                <input ng-model="patient.diabetes" value="N/A" type="radio">N/A
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-success col-sm-6" type="submit" ng-click="firstTrain = true"> Add Patient </button>

                                        <button class="btn btn-default" type="button" ng-click="firstTrain = true"> back </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
