<!--<div class="head" ng-controller="examinationSheetHeadController as vm">
    <div class="row">
        <div >
            <div class="col-md-2 col-sm-4 col-xs-12">
                <figure class="im"><img style="width: 135px; height: 135px;" id="imgx" alt="sq-sample14"/>
                    <a href=""></a>
                </figure>
            </div>
            <div class="col-md-10 col-sm-6 col-xs-12">
               <h4 class="">{{ vm.patient.patientName }}</h4>
               <p class=""> {{ vm.patient.mobileNumber }} </p>
               <p class=""> {{ vm.patient.chronicDiseases }}</p>
               <p class=""> {{ vm.patient.bloodGroup }}</p>
               <!--<div class="col-md-3"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4">+ Add Assistant</button> </div>-->
                <!--<div class="col-md-3"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4">+ Add Assistant</button> </div>-->
            <!--</div>
        </div>

    </div>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div class="">
            <div class="ex_head box_shadow">

                <p>{{$parent.vm.patientLabName}}</p>

                <div class="col-md-2 cl-sm-12">
                    <div class="patient_img text_center">
                        <img src="dist/img/user8-128x128.jpg" />
                    </div>

                    <div class="patient_data">
                        <p>
                            <span> <img src="dist/img/phone.svg" alt="phone" /> {{$parent.vm.patient.mobileNumber}} </span>
                            <span> {{$parent.vm.patient.bloodGroup}} </span>
                        </p>

                        <p> {{$parent.vm.patient.address}} {{$parent.vm.patient.area}}
                            {{$parent.vm.patient.government}}</p>
                    </div>
                </div>

                <div class="col-md-8 col-sm-12">
                    <div class="patient_info">
                        <p>
                            <span>{{$parent.vm.patient.patientName}}</span>
                            <span>{{$parent.vm.patient.gender ? '/'+$parent.vm.patient.gender:''}}</span>
                            <span>{{$parent.vm.patient.dateOfBirth? '/'+$parent.vm.patient.dateOfBirth:''}}</span>
                            <span>{{$parent.vm.patient.maritalStatus ?'/'+ $parent.vm.patient.maritalStatus :''}}</span>
                        </p>

                        <p>
                            <span>{{$parent.vm.patient.smoker =='Yes'? "smoker":''}}</span>
                            <!--<span></span>-->
                        </p>

                        <p>
                            <p class="ex_border" ng-if="$parent.vm.patient.hypertension || $parent.vm.patient.diabetes ">
                                <span> {{$parent.vm.patient.hypertension =='Yes'? 'HTN':'N/A'}}</span>
                                <span> {{$parent.vm.patient.diabetes =='Yes'? 'DM':'N/A'}}</span>
                            </p>

                            <p class="ex_border">
                                <span>{{$parent.vm.patient.allergien? $parent.vm.patient.allergien+' allergy' :'' }}</span>
                                <!--<span>/ Asprin </span>-->
                            </p>
                        </p>
                    
                        <p>
                            <p class="ex_border">
                                <span>{{$parent.vm.patient.chronicDiseases}}</span>
                            </p>

                            <p class="ex_border">
                                <span>{{$parent.vm.patient.presentMedications}}</span>
                                <!--<span>/ plavix</span>-->
                            </p>
                        </p>

                    </div>
                </div>

                <div class="col-md-2 col-sm-12">
                    <div class="head_edit">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editPatientModal">Edit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
