<div class="row">

    <div class="col-md-6 p-20">
        <div class="pat_history">
            <div class="row" data-ng-repeat="visit in vm.allVisits track by $index" ng-init="OuterIndex = $index">

                <div class="col-sm-2 col-xs-3" ng-click="vm.allVisits[OuterIndex].show = !vm.allVisits[OuterIndex].show">
                    <div class="form-group">
                        <button ng-if="!vm.allVisits[OuterIndex].show " type="button" class="btn btn-default">+</button>
                        <button ng-if="vm.allVisits[OuterIndex].show " type="button" class="btn btn-default">-</button>
                    </div>
                </div>

                <div class="col-sm-10 col-xs-9">
                    <div class="form-group">
                        <label class=" control-label">date</label>
                        <p>{{vm.convertDate(visit.date)}}</p>
                    </div>
                </div>

                <div ng-if="vm.allVisits[OuterIndex].show" class="col-xs-12">
                    <div class="row">
                        <div class="col-md-12" ng-if="visit.followUpList.length > 0">
                            <div class="follow-history history">
                                <div ng-repeat="item in visit.followUpList | startFrom:vm.currentPage*1 | limitTo:1">

                                    <div class="">
                                        <h4 class="title2 sub_title">Measures</h4>

                                        <div class="sub_new col-sm-12 padding_zero">
                                            <label>{{vm.convertDate(item.date)}}</label>

                                            <div class="pull-right">
                                                <button class="btn btn-default" ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1"> Previous </button>
                                                {{vm.currentPage+1}}/{{visit.followUpList.length}}
                                                <button class="btn btn-primary" ng-disabled="vm.currentPage >= visit.followUpList.length/1 - 1" ng-click="vm.currentPage=vm.currentPage+1"> Next </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="vital">

                                        <div class="row">
                                            <label class="col-sm-12 control-label vital-label">DR\{{visit.clinicId.doctorId.doctors.doctorName}}</label>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-12 control-label vital-label">Vital Signs</label>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-5 padding_zero">Pulse Rate</label>

                                            <div class="col-sm-7 padding_zero">
                                                <label>{{item.examinationSheetList[0].heartRate}} --
                                                    {{item.examinationSheetList[0].rythm}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-5 padding_zero">Resp. Rate</label>

                                            <div class="col-sm-7 padding_zero">
                                                <div class="col-sm-7 padding_zero">
                                                    <label>{{item.examinationSheetList[0].respRate}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-5 padding_zero">Blood Pressure</label>

                                            <div class="col-sm-7 padding_zero">
                                                <label>{{item.examinationSheetList[0].blood }} /
                                                    {{item.examinationSheetList[0].bloodpresure2}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-5 padding_zero">Tempreture</label>

                                            <div class="col-sm-7 padding_zero">
                                                <label>{{item.examinationSheetList[0].tempreature}}</label>

                                            </div>
                                        </div>

                                        <div class="anthropo">

                                            <div class="row">
                                                <label class="col-sm-12 control-label vital-label">Anthropometrics</label>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="col-sm-5 padding_zero">Weight</label>

                                                <div class="col-sm-7 padding_zero">
                                                    <label>{{item.examinationSheetList[0].weight}}</label>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="col-sm-5 padding_zero">Height</label>

                                                <div class="col-sm-7 padding_zero">
                                                    <label>{{item.examinationSheetList[0].height}}</label>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="col-sm-5 padding_zero">BMI</label>

                                                <div class="col-sm-7 padding_zero">
                                                    <label>{{item.examinationSheetList[0].bmi}}</label>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="col-sm-5 padding_zero">BSA</label>

                                                <div class="col-sm-7 padding_zero">
                                                    <label>{{item.examinationSheetList[0].bsa}}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--<hr style="margin-top: 5%;">-->

                                    <h4 class="title2">Subjective</h4>

                                    <div class="form-group">
                                        <div class="form-group col-md-12">
                                            <label class="col-sm-5 padding_zero">Cheif complaint</label>
                                            <input type="text" disabled value="{{item.examinationSheetList[0].subjective}}" class="form-control custom_disabled" />
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-sm-5 padding_zero">Symptoms</label>
                                            <input type="text" disabled value="{{item.examinationSheetList[0].symptoms}}" class="form-control custom_disabled" />
                                        </div>

                                    </div>


                                    <!--<hr style="margin-top: 5%;">-->
                                    <div ng-if="(! item.examinationSheetList[0].objectiveHide ||
                            (  item.examinationSheetList[0].objectiveHide && visit.clinicId.doctorId.doctors.doctorId == vm.doctorId )  )">
                                        <h4 class="title2">Objective</h4>

                                        <div class="form-group">
                                            <label>{{item.examinationSheetList[0].objective}}</label>

                                        </div>
                                    </div>


                                    <!--<hr style="margin-top: 5%;">-->
                                    <div ng-if="(! item.examinationSheetList[0].assementHide ||
                                (  item.examinationSheetList[0].assementHide && visit.clinicId.doctorId.doctors.doctorId == vm.doctorId )  )">
                                        <h4 class="title2">Assement</h4>

                                        <div class="form-group">
                                            <label>{{item.examinationSheetList[0].assement}}</label>

                                        </div>
                                    </div>

                                    <!--<hr style="margin-top: 5%;">-->
                                    <div ng-if="(! item.examinationSheetList[0].notesHide ||
                                (  item.examinationSheetList[0].notesHide && visit.clinicId.doctorId.doctors.doctorId == vm.doctorId )  )">
                                        <h4 class="title2">Notes</h4>
                                        <div class="form-group">
                                            <label>{{item.examinationSheetList[0].notes}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-6 p-20">
        <div class="pat_history">
            <div class="bio">
                <div>
                    <div>
                        <form name="form" ng-submit="vm.add(form)">
                            <div class="row">

                                <div class="form-group" ng-class="{ 'has-error': form.documentName.$dirty && form.documentName.$error.required }">
                                    <label class="col-sm-4 ">Document Name</label>

                                    <div class="col-sm-8">
                                        <input name="documentName" id="documentName" class="form-control" ng-model="vm.attachment.documentName" required placeholder="Document Name" type="text">
                                    </div>
                                    <!--<p ng-show="form.documentName.$dirty && form.documentName.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i-->
                                    <!--class="fa fa-exclamation-triangle"></i> You should enter-->
                                    <!--Document Name</p>-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.documentType.$dirty && form.documentType.$error.required }">
                                    <label class="col-sm-4">Document Type</label>

                                    <div class="col-sm-8">
                                        <select id="" class="form-control" ng-model="vm.attachment.documentType">
                                            <option selected>X-Ray</option>
                                            <option>Ex-sheet</option>
                                            <option>Analysis</option>
                                        </select>
                                    </div>
                                    <!--<p ng-show="form.documentType.$dirty && form.documentType.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i-->
                                    <!--class="fa fa-exclamation-triangle"></i> You should enter Document-->
                                    <!--Type</p>-->

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.doctorName.$dirty && form.doctorName.$error.required }">
                                    <label class="col-sm-4">Doctor/Lap Name</label>

                                    <div class="col-sm-8">
                                        <input name="doctorName" id="doctorName" class="form-control" ng-model="vm.attachment.doctorName" required placeholder="Doctor/Lap Name" type="text">
                                    </div>
                                    <!--<p ng-show="form.doctorName.$dirty && form.doctorName.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i-->
                                    <!--class="fa fa-exclamation-triangle"></i> You should enter Doctor/Lap Name-->
                                    <!--</p>-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.attachmentDate.$dirty && form.attachmentDate.$error.required }">
                                    <label class="col-sm-4">Document Date</label>

                                    <div class="col-sm-8">
                                        <input type="date" id="attachmentDate" class="form-control" ng-model="vm.attachment.date" required />
                                    </div>
                                </div>
                                <!--<p ng-show="form.attachmentDate.$dirty && form.attachmentDate.$error.required"-->
                                <!--style="margin-left:2%; color:#e62222"><i-->
                                <!--class="fa fa-exclamation-triangle"></i> You should-->
                                <!--enter Document Date </p>-->
                            </div>

                            <div class="row">
                                <div class="form-group" ng-class="{ 'has-error': form.file.$dirty && form.file.$error.required }">
                                    <label class="col-sm-4">Select Document</label>
                                    <div class="col-sm-8">
                                        <input required type="file" id="file" name="file" accept="*/*" />
                                    </div>
                                    <!--<p ng-show="form.file.$dirty && form.file.$error.required"-->
                                    <!--style="margin-left:2%; color:#e62222"><i-->
                                    <!--class="fa fa-exclamation-triangle"></i> You should-->
                                    <!--select Document  </p>-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-4">
                                    <button ng-disabled="form.$invalid || vm.attachDataLoading" class="btn btn-success" type="submit">
                                        Add Document
                                    </button>
                                    <img ng-if="vm.attachDataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <br> <br>

                <div class="box box-primary">

                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="files in vm.allAttchFiles" class="patient text_center">

                                <a class="col-sm-12">
                                    <img style="width: 50px; height: 50px;" alt="" />
                                </a>

                                <div class="col-sm-12">
                                    <p><span>Document Name : </span> {{files.documentName}}</p>

                                    <p><span>Document Type : </span> {{files.documentType}}</p>

                                    <p><span>Document Date : </span> {{files.date}}</p>
                                    
                                    <p><span>Uplod Date : </span> {{files.uploadedDate}}</p>
                                    <!-- <p><span>View : </span> {{patient.mobileNumber}}</p>-->
                                    <button class="btn btn-primary" ng-click="vm.preview(files.documentPathName,files.ext)"> Preview Document</button>

                                    <div class="modal fade" id="imgPrev" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Attachment Preview</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <a class="col-sm-12">
                                                        <img data-ng-src="data:image/{};base64,{{vm.imgPrev}}" data-err-src="images/png/avatar.png" class="img-responsive" />
                                                    </a>

                                                    <div class="modal-footer"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
