<div id="panel5" class="panel">

    <div class="row">
        <div class="col-xs-12 ">
            <!--follow clin-->
            <div class="">
                <h2>treatment plan</h2>
                <div ng-repeat="treatment in vm.followUps[0].drugsList track by $index ">
                    <div class="treat">
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group">
                                    <label class=" control-label">Name/Active</label>
                                    <p>{{treatment.name}}</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Dose</label>
                                    <p>{{treatment.dose}}</p>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Duration</label>
                                    <p>{{treatment.duration}}</p>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">notes</label>
                                    <p>{{treatment.notes}}</p>
                                </div>
                            </div>

                            <div class="col-md-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">given</label>
                                    <p ng-if="treatment.result">yes</p>
                                    <p ng-if="!treatment.result">no</p>
                                </div>
                            </div>
                            <!--<div class="r-line row"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <h2>radiology</h2>
                <div ng-repeat="followRadio in vm.followUps[0].radiologyList track by $index ">
                    <p><span>Name : </span> {{followRadio.name}}</p>
                    <p><span>notes : </span> {{followRadio.notes}}</p>
                    <p><span>result : </span>
                        <span ng-bind-html="followRadio.result"></span>
                    </p>
                    <p><span>Attachment : </span></p>
                    <button type="button" class="btn btn-primary" ng-click="vm.openFile(followRadio.id,2)">Download
                    </button>
                    <!--<div style="border: 1px solid black; padding:100px;">-->

                    <!--<a id='dwnldLnks' download='o ficheirinho de tostas.pdf' style="display:none;" />-->

                    <!--<a href="#" ng-click="vm.openFile1(followRadio.)" title='o ficheirinho de tostas.pdf'>Download</a>-->

                    <!--</div>-->

                    <div class="r-line"></div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="new_investigation">

        <h3 class="title2">Investigation</h3>

        <div class="invest_item">
            <label class="bg_green invest_status"></label>

            <label class="invest_data bg_gray" data-toggle="modal" data-target="#myModal">
                <span>MRI ,</span>
                <span>Abdomen</span>
            </label>
        </div>

        <div class="invest_item">
            <label class="bg_red invest_status"></label>

            <label class="invest_data bg_gray" data-toggle="modal" data-target="#myModal">
                <span>MRI ,</span>
                <span>Abdomen</span>
            </label>
        </div>

        <div class="invest_item">
            <label class="bg_green invest_status"></label>

            <label class="invest_data bg_gray" data-toggle="modal" data-target="#myModal">
                <span>MRI ,</span>
                <span>Abdomen</span>
            </label>
        </div>
    </div>

    <!--<div class="new_investigation">
        
        <label class="bg_green invest_status"></label>
        
        <div class="collaps_panel-default invest_data bg_gray">

            <div onclick="exametionCollapse(this)" class="panel-heading bg_gray">
                <h5>
                    <a class="text_gray" data-toggle="collapse" data-parent="#accordion">
                        <span>MRI ,</span>
                        <span>Abdomen</span>
                    </a>
                </h5>

                <img src="dist/img/arrow-down.svg" alt="arrow" />
            </div>

            <div class="panel-collapse collapse exametionCollapseOne">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>-->


    <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <h2>lab</h2>
                <div ng-repeat="followLab in vm.followUps[0].analysisList track by $index ">
                    <!--<h3>Follow Up</h3>-->
                    <p><span>Name : </span> {{followLab.name}}</p>
                    <p><span>notes : </span> {{followLab.notes}}</p>
                    <p>
                        <span>result : </span>
                        <div ng-bind-html="followLab.result"></div>
                        <p><span>Attachment : </span>
                        </p>
                        <button type="button" class="btn btn-primary" ng-click="vm.openFile(followLab.id,1)"> Download </button>

                        <div class="r-line"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">MRI</h4>
                        </div>

                        <div class="modal-body">
                            <div class="col-sm-12">
                                <img class="img-responsive" src="dist/img/1.jpg" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="">
                                <button type="submit" class="btn btn-danger">Download</button>
                                <button type="button" class="btn btn-default col-sm-2" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</div>
