<div class="data">
    <div class="box">
        <div class="row">
            <div class="box-header  col-xs-12">
                <label for="" class="col-xs-6"> Patient Date</label>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-default pull-right"data-toggle="modal" data-target="#editPatientModal">Edit</button>
                </div>
            </div>
        </div>
        <form name="form">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 ">Full Name</label>
                        <div class="col-sm-8">
                            {{vm.patient.patientName}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Mobile Number</label>

                        <div class="col-sm-8">
                            {{vm.patient.mobileNumber}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Relative Mobile Number</label>

                        <div class="col-sm-8">
                            {{vm.patient.relativeMobileNumber}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">E-mail</label>

                        <div class="col-sm-8">
                            {{vm.patient.email}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Gender</label>

                        <div class="col-sm-8">
                            {{vm.patient.gender}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Date Of Birth</label>

                        <div class="col-sm-8">
                            {{vm.patient.dateOfBirth}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">government</label>

                        <div class="col-sm-8">
                            {{vm.patient.government}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Area</label>

                        <div class="col-sm-8">
                            {{vm.patient.area}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Address</label>

                        <div class="col-sm-8">
                            {{vm.patient.address}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">MaritalStatus</label>

                        <div class="col-sm-8">
                            {{vm.patient.maritalStatus}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">offsprings</label>

                        <div class="col-sm-8">
                            {{vm.patient.offspring}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">National ID</label>

                        <div class="col-sm-8">
                            {{vm.patient.nationalId}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Chronic Diseases</label>

                        <div class="col-sm-8">
                            {{vm.patient.chronicDiseases}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Present Medications</label>

                        <div class="col-sm-8">
                            {{vm.patient.presentMedications}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Allergien</label>

                        <div class="col-sm-8">
                            {{vm.patient.allergien}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Surgeries</label>

                        <div class="col-sm-8">
                            {{vm.patient.surgeries}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 ">Blood Group</label>

                        <div class="col-sm-8">
                            {{vm.patient.bloodGroup}}
                        </div>
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="modal fade" id="editPatientModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Patient</h4>
                                </div>
                                <div class="modal-body">

                                    <form name="form" ng-submit="vm.saveChanges()" >
                                        <div class="row">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': form.fullname.$dirty && (form.fullname.$error.required) }">
                                                <label class="col-sm-4 control-label">Full Name</label>

                                                <div class="col-sm-8">
                                                    <input name="fullname" id="fullname" class="form-control"
                                                           ng-model="vm.patient.patientName"
                                                           required placeholder="Full Name" type="text">
                                                </div>
                                            </div>
                                            <p ng-show="form.fullname.$dirty && form.fullname.$error.required"
                                               style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You
                                                should
                                                enter your full name</p>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                 <!--ng-class="{ 'has-error': form.mobileNumber.$dirty && form.mobileNumber.$error.required }">-->

                                                <label class="col-sm-4 control-label">Mobile Number</label>

                                                <div class="col-sm-8">
                                                    <input disabled name="mobileNumber" id="mobileNumber" class="form-control"
                                                           ng-model="vm.patient.mobileNumber"
                                                           ng-blur="vm.checkMobile()" placeholder="Mobile Number" type="text">
                                                </div>

                                            </div>
                                            <!--<p ng-show="form.mobileNumber.$dirty && form.mobileNumber.$error.required"-->
                                               <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                                <!--should-->
                                                <!--chosee your Mobile number</p>-->
                                            <!--<p ng-show="form.mobileNumber.$dirty && !vm.mobileAviable"-->
                                               <!--style="margin-left:2%; color:#e62222">-->
                                                <!--<i class="fa fa-exclamation-triangle"></i> This Mobile Number is not aviable</p>-->

                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Relative Mobile
                                                    Number</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control"
                                                           ng-model="vm.patient.relativeMobileNumber"
                                                           placeholder="Relative Mobile Number"
                                                           type="text">
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': form.loginName.$dirty && ( form.loginName.$error.email || form.loginName.$error.required || !vm.emailAviable) }">
                                                <label class="col-sm-4 control-label">E-mail</label>

                                                <div class="col-sm-8">
                                                    <input  name="loginName" id="loginName" class="form-control"
                                                           ng-model="vm.patient.email"
                                                           ng-blur="vm.checkMail()" placeholder="E-mail" type="email">
                                                    <!--{{vm.user.userProfile.loginName}}-->
                                                </div>
                                            </div>
                                            <!--<p ng-show="form.loginName.$dirty && form.loginName.$error.required"-->
                                               <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                                <!--should-->
                                                <!--enter your E-mail</p>-->
                                            <p ng-show="form.loginName.$dirty && form.loginName.$error.email"
                                               style="margin-left:2%; color:#e62222">
                                                <i class="fa fa-exclamation-triangle"></i> You should enter a valid E-mail</p>
                                            <p ng-show="form.loginName.$dirty && !vm.emailAviable"
                                               style="margin-left:2%; color:#e62222">
                                                <i class="fa fa-exclamation-triangle"></i> This E-mail is not aviable</p>

                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Gender</label>

                                                <div  class="col-sm-8">
                                                    <select class="form-control" ng-model="vm.patient.gender">
                                                        <option selected>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Date Of Birth</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" required type="text" id="birthDateId" ng-model="vm.patient.dateOfBirth" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">government</label>

                                                <div class="col-sm-8">
                                                    <select  name="government" id="government" class="form-control"
                                                            ng-model="vm.patient.government">
                                                        <option class="cairo">القاهرة</option>
                                                        <option class="alex">الاسكندرية</option>
                                                        <option class="">الاسماعيلية</option>
                                                        <option>اسوان</option>
                                                        <option>اسيوط</option>
                                                        <option>الاقصر</option>
                                                        <option>البحر الاحمر</option>
                                                        <option>البحيرة</option>
                                                        <option>بنى سويف</option>
                                                        <option>بورسعيد</option>
                                                        <option>جنوب سيناء</option>
                                                        <option>الجيزة</option>
                                                        <option>الدقهلية</option>
                                                        <option>دمياط</option>
                                                        <option>سوهاج</option>
                                                        <option>السويس</option>
                                                        <option>الشرقية</option>
                                                        <option>شمال سيناء</option>
                                                        <option>الغربية</option>
                                                        <option>الفيوم</option>
                                                        <option>القليوبية</option>
                                                        <option>قنا</option>
                                                        <option>كفر الشيخ</option>
                                                        <option>مطروح</option>
                                                        <option>المنوفية</option>
                                                        <option>المنيا</option>
                                                        <option>الوادى الجديد</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Area</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.area"
                                                           placeholder="Area" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Address</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.address"
                                                           placeholder="Address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">MaritalStatus</label>

                                                <div class="col-sm-8">
                                                    <select class="form-control" ng-model="vm.patient.maritalStatus">
                                                        <option selected>Married</option>
                                                        <option>Single</option>
                                                        <option>Divorced</option>
                                                        <option>Widowed</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">offsprings</label>

                                                <div class="col-sm-8">
                                                    <input name="offspring" class="form-control" ng-model="vm.patient.offspring"
                                                           placeholder="Offspring"
                                                           type="number">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">National ID</label>
                                                <div class="col-sm-8">
                                                    <input  class="form-control" ng-model="vm.patient.nationalId"
                                                           placeholder="National ID" type="number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Chronic Diseases</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.chronicDiseases"
                                                           placeholder="Chronic Diseases" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Present Medications</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.presentMedications"
                                                           placeholder="Present Medications" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Allergien</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.allergien"
                                                           placeholder="Allergien" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Surgeries</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" ng-model="vm.patient.surgeries"
                                                           placeholder="Surgeries" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">BloodGroup</label>
                                                <div  class="col-sm-8">
                                                    <select class="form-control" ng-model="vm.patient.bloodGroup">
                                                        <option selected>A</option>
                                                        <option>A+</option>
                                                        <option>B</option>
                                                        <option>B+</option>
                                                        <option>AB</option>
                                                        <option>AB+</option>
                                                        <option>O</option>
                                                        <option>O+</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Card Number</label>

                                                <div class="col-sm-8">
                                                    <input disabled name="cardNumber" id="cardNumber"
                                                            class="form-control"
                                                            ng-model="vm.patient.cardId.cardNumber"
                                                             placeholder="Card Number" type="text">
                                                </div>
                                            </div>
                                            <!--<p ng-show="form.cardNumber.$dirty && form.cardNumber.$error.required"-->
                                               <!--style="margin-left:2%; color:#e62222"><i class="fa fa-exclamation-triangle"></i> You-->
                                                <!--should enter-->
                                                <!--your Card Number</p>-->
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Card Pin</label>

                                                <div class="col-sm-8">
                                                    <input disabled name="cardPin" id="cardPin"
                                                            class="form-control"
                                                            ng-model="vm.patient.cardId.cardPin"
                                                             placeholder="Card Pin" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div style="float: right">
                                            <div class="modal-footer">
                                                <button  class="btn btn-default" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-danger"
                                                         type="submit">
                                                    Save Changes
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                            </div>

                                            <img ng-if="vm.dataLoading"
                                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>