<div class="wrapper">

    <!-- Main Header -->
    <div  ng-include="'app-resources/radiations/radiationsLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/radiations/radiationsLayout/aside.html'"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ vm.radiations.radName }}</h1>

        </section>


        <!-- Main content -->
        <section class="content">

            <!--head-->
            <div ng-include="'app-resources/radiations/radiationsLayout/head.html'"></div>


            <div class="tab-panels">
                <ul class="tabs">
                    <li rel="panel6" class="header3 hidden-xs" ng-class="{active:vm.panel[0]}"
                        ng-click="vm.showPanel(0)">Patient Radiologies
                    </li>
                </ul>
            </div>

            <div id="panel4" class="panel" ng-show="vm.panel[0]">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-include="'app-resources/doctor/examinationSheet/radiationSheetDetails.html'"></div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>
</div>