<div class="col-md-6 col-xs-12">
    <div class="data box_shadow">
        <div class="box">
            <div class="row">
                <div class="col-xs-12">

                    <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                    <!--<div class="sub_new">-->
                    <!--<button type="button" class="btn btn-default" ng-click="vm.createNewVisit()">New Visit</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="collaps_panel collaps_panel-default">

                        <div onclick="exametionCollapse(this)" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion">Examination Sheet</a>
                            </h4>

                            <img src="dist/img/arrow-down.svg" alt="arrow"/>
                        </div>

                        <div class="panel-collapse collapse exametionCollapseOne">
                            <div class="panel-body">

                                <div class="ex_sheet">

                                    <h4 class="title2 sub_title">Measures</h4>
                                    <input type="date" ng-model="vm.visitDate">

                                    <div class="vital">
                                        <div class="row">
                                            <label class="col-sm-12 control-label vital-label">Vital Signs</label>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <!--<label class="col-sm-5 padding_zero">Pulse rate</label>

                                            <div class="row">-->
                                            <!--<input class="form-control" placeholder="Heart Rate" type="text"-->
                                            <!--ng-model="vm.examinationSheet.heartRate" ng-disabled="vm.examinationSheet.id">-->
                                            <select class="padding_zero" name="repeatSelect" id="pulseSelect1"
                                                    ng-model="vm.examinationSheet.heartRate"
                                                    ng-disabled="vm.examinationSheet.id">
                                                <option ng-repeat="option in vm.pulseRates" value="{{option}}">
                                                    {{option}}
                                                </option>
                                            </select>
                                            <!--</div>-->
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Resp. Rate" type="text"
                                                       ng-model="vm.examinationSheet.respRate"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-sm-12 padding_zero blood_input">

                                                <!--<input class="form-control" placeholder="Blood" type="text"-->
                                                <!--ng-model="vm.examinationSheet.blood" ng-disabled="vm.examinationSheet.id">-->
                                                <div class="col-sm-6 systolic">
                                                    <select name="repeatSelect" id="repeatSelect"
                                                            ng-model="vm.examinationSheet.blood"
                                                            ng-disabled="vm.examinationSheet.id">
                                                        <!--ng-init="vm.examinationSheet.blood = vm.examinationSheet.blood || '80'">-->
                                                        <option ng-repeat="option in vm.bloodPressureSystolic"
                                                                value="{{option}}">
                                                            {{option}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6 diasolic">
                                                    <select name="repeatSelect2" id="repeatSelect2"
                                                            ng-model="vm.examinationSheet.bloodpresure2"
                                                            ng-disabled="vm.examinationSheet.id">
                                                        <!--ng-init="vm.examinationSheet.bloodpresure2 = vm.examinationSheet.bloodpresure2 || '40'">-->
                                                        <option ng-repeat="option in vm.bloodPressureDiastolic"
                                                                value="{{option}}">
                                                            {{option}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Tempreture" type="text"
                                                       ng-model="vm.examinationSheet.tempreature"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <!-- <label class="col-sm-5 padding_zero">Rhythm</label> -->
                                            <select class="padding_zero" name="repeatSelect2" id="pulseSelect2"
                                                    ng-model="vm.examinationSheet.rythm"
                                                    ng-disabled="vm.examinationSheet.id">
                                                <option ng-repeat="option in vm.pulseRhythmRates" value="{{option}}">
                                                    {{option}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="anthropo">
                                        <div class="row">
                                            <label class="col-sm-12 control-label vital-label">Anthropometrics</label>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Weight (Kg)" type="text"
                                                       ng-change="vm.calcBMI_BSA()"
                                                       ng-model="vm.examinationSheet.weight"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Height (Cm)" type="text"
                                                       ng-change="vm.calcBMI_BSA()"
                                                       ng-model="vm.examinationSheet.height"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-3 padding_zero">BMI</label>

                                            <div class="col-sm-9 padding_zero">
                                                <label class="form-control input_result">{{vm.examinationSheet.bmi}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="col-sm-3 padding_zero">BSA</label>

                                            <div class="col-sm-9 padding_zero">
                                                <label class="form-control input_result">{{vm.examinationSheet.bsa}}</label>
                                            </div>
                                        </div>

                                    </div>

                                    <hr>

                                    <h5 class="title2">Subjective</h5>

                                    <div class="form-group">
                                        <!--<textarea class="form-control" ng-model="vm.examinationSheet.subjective"-->
                                        <!--ng-disabled="vm.examinationSheet.id"></textarea>-->

                                        <div class="form-group col-md-12">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Cheif complaint" type="text"
                                                       ng-model="vm.examinationSheet.subjective"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <div class="col-sm-12 padding_zero">
                                                <input class="form-control" placeholder="Symptoms" type="text"
                                                       ng-model="vm.examinationSheet.symptoms"
                                                       ng-disabled="vm.examinationSheet.id">
                                            </div>
                                        </div>

                                    </div>

                                    <hr>

                                    <!--<P>privte info <input type="checkbox" ng-init="vm.examinationSheet.objectiveHide = false"-->
                                    <!--ng-model="vm.examinationSheet.objectiveHide"></P>-->

                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="vm.examinationSheet.objective"
                                                  ng-disabled="vm.examinationSheet.id"
                                                  placeholder="Objective"></textarea>
                                    </div>

                                    <hr>

                                    <P class="privat_info">
                                        <span>privte info</span>

                                        <input type="checkbox" ng-init="vm.examinationSheet.notesHide = false"
                                               ng-model="vm.examinationSheet.notesHide">
                                    </P>

                                    <div class="form-group">
                                        <textarea class="form-control" ng-model="vm.examinationSheet.notes"
                                                  ng-disabled="vm.examinationSheet.id" placeholder="Notes"></textarea>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <!--<P>privte info <input type="checkbox" ng-init="vm.examinationSheet.assementHide = false"-->
                    <!--ng-model="vm.examinationSheet.assementHide"></P>-->

                    <div class="form-group">
                        <textarea class="form-control" ng-model="vm.examinationSheet.assement"
                                  ng-disabled="vm.examinationSheet.id" placeholder="Assement"></textarea>
                    </div>

                    <!--<button class="btn btn-primary" ng-click="vm.showPanel(3)" style="float: right;">-->
                    <!--Next Page-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 bg_white box_shadow">

        <h3 class="title2">Investigations</h3>

        <div class="treat">
            <div class="row">

                <label class="col-sm-12">Radiology : </label>

                <div data-ng-repeat="checkBox in vm.radiologyCheckBoxes">
                    <div class="col-md-4 col-sm-6 pad10">

                        <label class="check_lab">
                            <input type="checkbox" class="minimal" ng-model="checkBox.value"
                                   ng-change="vm.addRadiologyFromCheckBox(checkBox,checkBox.value)"> {{checkBox.name}}
                        </label>

                    </div>
                </div>
            </div>

            <div class="radiation_table">
                <div class="row hidden-xs" ng-if="vm.requiredRadiology.length">

                    <div class="col-md-3 pad10">
                        <div class="form-group">
                            <label class="">name</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="">Body Part</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="">Direction</label>
                        </div>
                    </div>

                    <div class="col-md-4 pad10">
                        <div class="form-group form-group2">
                            <label class="">Notes</label>
                        </div>
                    </div>
                </div>


                <div ng-repeat="radio in vm.requiredRadiology track by $index " class="row margin_bot3">

                    <div class="col-md-3 pad10">
                        <div class="form-group">
                            <label class="" ng-if="!radio.other">{{radio.name}}</label>
                            <input class="form-control" placeholder="name" type="text" ng-model="radio.name"
                                   ng-if="radio.other">
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group">
                            <!--<input class="form-control" placeholder="bodyPart" type="text"-->
                            <!--ng-model="radio.bodyPart">-->
                            <select class="form-control" name="bodyPart" id="bodyPart" ng-model="radio.bodyPart">
                                <option ng-repeat="option in vm.bodyParts" value="{{option}}"> {{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group">
                            <!--<input class="form-control" placeholder="Direction" type="text"-->
                            <!--ng-model="radio.direction">-->
                            <select class="form-control" name="Direction" id="Direction" ng-model="radio.direction">
                                <option ng-repeat="option in vm.radiologDirections" value="{{option}}"> {{option}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 pad10">
                        <div class="form-group">
                            <input class="form-control" placeholder="Write your notes......" type="text"
                                   ng-model="radio.notes">
                        </div>
                    </div>

                    <span class="col-md-1 pad10" ng-if="radio.other" ng-click="vm.addItem(radio)">
                        <i class="fa fa-plus-square"></i>
                    </span>

                    <!--<span class="col-md-1" ng-click="vm.deleteItem(vm.requiredRadiology,$index)">-->
                    <!--<i class="fa fa-minus-square" style="display: inline"></i>-->
                    <!--</span>-->
                    <span class="col-md-1 pad10" ng-click="vm.deleteRadiologyItem(vm.requiredRadiology,$index,radio)">
                        <i class="fa fa-minus-square"></i>
                    </span>

                </div>
            </div>

            <div class="row">
                <div class="select_radio">
                    <label class="col-sm-4 pad10">Select Radiology</label>

                    <ui-select class="col-sm-8 pad10" ng-model="vm.selectedRadiology" theme="select2"
                               ng-change="vm.addRadiology(vm.selectedRadiology)" title="Choose a radiology test">

                        <ui-select-match placeholder="Select a radiology in the list or search his name/age...">
                            {{$select.selected.name}}
                        </ui-select-match>

                        <ui-select-choices group-by="vm.firstLetterGroupFn"
                                           repeat="radiology in vm.radiologyLookUps | propsFilter: {name: $select.search} | limitTo: 50"
                                           position='auto'>
                            <div ng-bind-html="radiology.name | highlight: $select.search"></div>
                        </ui-select-choices>

                    </ui-select>

                </div>

            </div>
            <!--{{vm.requiredRadiology}}-->

        </div>

        <hr>

        <div class="treat">
            <div class="radiation">

                <div class="row">

                    <label class="col-sm-12 control-label">Analysis : </label>

                    <div data-ng-repeat="checkBox in vm.analysisCheckBoxes">
                        <div class="col-md-4 col-sm-6 pad10">

                            <label class="check_lab">
                                <input type="checkbox" class="minimal" ng-model="checkBox.value"
                                       ng-change="vm.addAnalysisFromCheckBox(checkBox,checkBox.value)">
                                {{checkBox.name}}
                            </label>

                        </div>

                    </div>
                </div>

                <div class="radiation_table">

                    <div class="row hidden-xs" ng-if="vm.analysisList.length">

                        <div class="col-md-3 pad10">
                            <div class="form-group">
                                <label class="">Name</label>
                            </div>
                        </div>

                        <div class="col-md-8 pad10">
                            <div class="form-group">
                                <label class="">Notes</label>
                            </div>
                        </div>
                    </div>

                    <div data-ng-repeat="data in vm.analysisList" class="row margin_bot3">

                        <div class="col-md-3 pad10">
                            <div class="form-group">
                                <label class="" ng-if="!data.other">{{data.name}}</label>
                                <input class="form-control" placeholder="name" type="text" ng-model="data.name"
                                       ng-if="data.other">
                            </div>
                        </div>

                        <div class="col-md-8 pad10">
                            <div class="form-group form-group2">
                                <label class="hidden-md hidden-lg">Notes</label>
                                <input class="form-control" placeholder="enter your notes .... " type="text"
                                       ng-model="data.notes">
                            </div>
                        </div>

                        <span class="col-md-1 pad10" ng-if="data.other" ng-click="vm.addItem(data)">
                            <i class="fa fa-plus-square"></i>
                        </span>

                        <span class="col-md-1 pad10" ng-click="vm.deleteAnalysisItem(vm.analysisList,$index,data)">
                            <i class="fa fa-minus-square"></i>
                        </span>

                    </div>

                </div>

                <div class="row">
                    <div class="select_radio">
                        <label class="col-sm-4 pad10">Select Analysis</label>

                        <ui-select class="col-sm-8 pad10" ng-model="vm.selectedAnalsis" theme="select2"
                                   ng-change="vm.AddAnalysis(vm.selectedAnalsis)" title="Choose a analysis test">

                            <ui-select-match placeholder="Select a analysis in the list or search his name/age...">
                                {{$select.selected.name}}
                            </ui-select-match>

                            <ui-select-choices group-by="vm.firstLetterGroupFn"
                                               repeat="analysis in vm.analysisLookUps | propsFilter: {name: $select.search} | limitTo: 50"
                                               position='auto'>
                                <div ng-bind-html="analysis.name | highlight: $select.search"></div>
                                <small></small>
                            </ui-select-choices>

                        </ui-select>

                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="treat">

            <label class="control-label">Treatment : </label>

            <div class="radiation_table">
                <div class="row hidden-xs" ng-if="vm.treatmentList.length">

                    <div class="col-md-2 pad10">
                        <div class="form-group">
                            <label class=" control-label">Name</label>
                        </div>
                    </div>


                    <div class="col-md-1 pad10">
                        <div class="form-group form-group2">
                            <label class="control-label">quantity</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="control-label">Frequency</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="control-label">Duration</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="control-label">Direction</label>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <label class="control-label">Notes</label>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-repeat="data in vm.treatmentList track by $index ">
                <div class="row margin_bot3">

                    <div class="col-md-2 pad10">
                        <div class="form-group">
                            <label class=" control-label" ng-if="!data.other">{{data.name}}</label>
                            <input placeholder="name" type="text" ng-model="data.name" ng-if="data.other">
                        </div>
                    </div>

                    <div class="col-md-1 pad10">
                        <div class="form-group form-group2">
                            <select name="DOSE" id="quantity" ng-model="data.dose">
                                <!--quantity-->
                                <option ng-repeat="option in vm.drugQuantities" value="{{option}}"> {{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <select name="DOSE" id="DOSE" ng-model="data.frequency">
                                <option ng-repeat="option in vm.drugFrequencies" value="{{option}}"> {{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <select name="drugDuration" id="drugDuration" ng-model="data.duration">
                                <option ng-repeat="option in vm.drugDurations" value="{{option}}"> {{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <select name="drugDuration" id="drugDirection" ng-model="data.direction">
                                <option ng-repeat="option in vm.drugDirections" value="{{option}}"> {{option}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 pad10">
                        <div class="form-group form-group2">
                            <input placeholder="take it after eating" type="text" ng-model="data.notes">
                        </div>
                    </div>

                    <span class="col-md-1 pad10" ng-if="data.other" ng-click="vm.addItem(data)">
                        <i class="fa fa-plus-square"></i>
                    </span>

                    <span class="col-md-1 pad10" ng-click="vm.deleteItem(vm.treatmentList,$index)">
                        <i class="fa fa-minus-square"></i>
                    </span>

                </div>
            </div>

            <div class="row">
                <div class="">
                    <label class="col-sm-4 pad10 control-label">Select Treatment</label>

                    <div class="">
                        <div class="select">

                            <ui-select class="col-sm-8 pad10" ng-model="vm.selectedTretment" theme="select2"
                                       ng-change="vm.addTretment(vm.selectedTretment)" title="Choose a analysis test">

                                <ui-select-match placeholder="Select a treatment in the list or search his name/age...">
                                    {{$select.selected.name}}
                                </ui-select-match>

                                <ui-select-choices group-by="vm.firstLetterGroupFn"
                                                   repeat="treatment in vm.treatmentLookUp | propsFilter: {name: $select.search} | limitTo: 50"
                                                   position='auto'>
                                    <div ng-bind-html="treatment.name | highlight: $select.search "></div>
                                    <small></small>
                                </ui-select-choices>

                            </ui-select>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="sub mar_top16 text_center">
            <button type="button" class="btn btn-primary" ng-click="vm.confirmSave()"
                    ng-disabled="vm.examinationSheet.id"> save
            </button>
        </div>
    </div>
</div>


<div class="col-md-6 col-xs-12">
    <div class="box bg_old box_shadow" ng-if="vm.followUps.length > 0">
        <div class="follow-history">
            <div ng-repeat="item in vm.followUps | startFrom:vm.currentPage*1 | limitTo:1">
                <div class="row">
                    <div style="margin-left: 35%;">
                        <button class="btn btn-default" ng-disabled="vm.currentPage == 0"
                                ng-click="vm.currentPage=vm.currentPage-1"> Previous
                        </button>
                        {{vm.currentPage+1}}/{{vm.followUps.length}}

                        <button class="btn btn-primary" ng-disabled="vm.currentPage >= vm.followUps.length/1 - 1"
                                ng-click="vm.currentPage=vm.currentPage+1"> Next
                        </button>
                    </div>
                </div>
                <div class="row">
                    <h4 class="title2 sub_title col-sm-12">Measures</h4>

                    <div class="sub_new col-sm-12">
                        <label>{{vm.convertDate(item.date)}}</label>

                        <div class="pull-right pag_btn">
                            <button class="btn btn-default" ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1"> Previous </button>
                            {{vm.currentPage+1}}/{{vm.followUps.length}}

                            <button class="btn btn-primary" ng-disabled="vm.currentPage >= vm.followUps.length/1 - 1" ng-click="vm.currentPage=vm.currentPage+1"> Next </button>
                        </div>
                    </div>
                </div>

                <div class="vital">
                    <div class="row">
                        <label class="col-sm-12 control-label vital-label">Vital Signs</label>
                    </div>

                    <div class="form-group col-md-6"
                         ng-if="item.examinationSheetList[0].heartRate||item.examinationSheetList[0].rythm">
                        <label class="col-sm-5 padding_zero">Pulse Rate</label>

                        <div class="col-sm-7 padding_zero">
                            <!--<label>{{item.examinationSheetList[0].heartRate}}</label>-->
                            <input type="text"
                                   value="{{item.examinationSheetList[0].heartRate}}--{{item.examinationSheetList[0].rythm}}"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].respRate">
                        <label class="col-sm-5 padding_zero">Resp. Rate</label>

                        <div class="col-sm-7 padding_zero">
                            <div class="col-sm-7 padding_zero">
                                <!--<label>{{item.examinationSheetList[0].respRate}}</label>-->
                                <input type="text" value="{{item.examinationSheetList[0].respRate}}"
                                       class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6"
                         ng-if="item.examinationSheetList[0].blood && item.examinationSheetList[0].bloodpresure2">
                        <label class="col-sm-5 padding_zero">Blood Pressure</label>

                        <div class="col-sm-7 padding_zero">
                            <!--<label>{{item.examinationSheetList[0].blood}}</label>-->
                            <input type="text"
                                   value="{{item.examinationSheetList[0].blood}} / {{item.examinationSheetList[0].bloodpresure2}}"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].tempreature">
                        <label class="col-sm-5 padding_zero">Tempreture</label>

                        <div class="col-sm-7 padding_zero">
                            <!--<label>{{item.examinationSheetList[0].tempreature}}</label>-->
                            <input type="text" value="{{item.examinationSheetList[0].tempreature}}"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="anthropo" ng-if="item.examinationSheetList[0].weight ||item.examinationSheetList[0].height||
                    item.examinationSheetList[0].bmi || item.examinationSheetList[0].bsa">
                        <div class="row">
                            <label class="col-sm-12 control-label vital-label">Anthropometrics</label>
                        </div>

                        <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].weight">
                            <label class="col-sm-5 padding_zero">Weight</label>

                            <div class="col-sm-7 padding_zero">
                                <!--<label>{{item.examinationSheetList[0].weight}}</label>-->
                                <input type="text" value="{{item.examinationSheetList[0].weight}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].height">
                            <label class="col-sm-5 padding_zero">Height</label>

                            <div class="col-sm-7 padding_zero">
                                <!--<label>{{item.examinationSheetList[0].height}}</label>-->
                                <input type="text" value="{{item.examinationSheetList[0].height}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].bmi">
                            <label class="col-sm-5 padding_zero">BMI</label>

                            <div class="col-sm-7 padding_zero">
                                <label>{{item.examinationSheetList[0].bmi}}</label>
                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-if="item.examinationSheetList[0].bsa">
                            <label class="col-sm-5 padding_zero">BSA</label>

                            <div class="col-sm-7 padding_zero">
                                <label>{{item.examinationSheetList[0].bsa}}</label>
                            </div>
                        </div>

                    </div>
                </div>

                <hr>

                <div ng-if="item.examinationSheetList[0].subjective || item.examinationSheetList[0].symptom">
                    <h5 class="title2">Subjective</h5>

                    <div class="form-group">
                        <div class="form-group col-md-12" ng-if="item.examinationSheetList[0].subjective">
                            <label class="col-sm-5 padding_zero">Cheif complaint</label>
                            <input type="text" value="{{item.examinationSheetList[0].subjective}}"
                                   class="form-control"/>
                        </div>

                        <div class="form-group col-md-12" ng-if="item.examinationSheetList[0].symptoms">
                            <label class="col-sm-5 padding_zero">Symptoms</label>
                            <input type="text" value="{{item.examinationSheetList[0].symptoms}}" class="form-control"/>
                        </div>
                    </div>

                    <hr>
                </div>

                <div ng-if="item.examinationSheetList[0].objective">
                    <h5 class="title2">Objective</h5>

                    <div class="form-group">
                        <!--<label>{{item.examinationSheetList[0].objective}}</label>-->
                        <input type="text" value="{{item.examinationSheetList[0].objective}}" class="form-control"/>
                    </div>

                    <hr>
                </div>

                <div ng-if="item.examinationSheetList[0].notes">
                    <h5 class="title2">Notes</h5>

                    <div class="form-group" ng-if="item.examinationSheetList[0].notes">
                        <!--<label>{{item.examinationSheetList[0].notes}}</label>-->
                        <input type="text" value="{{item.examinationSheetList[0].notes}}" class="form-control"/>
                    </div>

                    <hr>
                </div>

                <div ng-if="item.examinationSheetList[0].assement">
                    <h5 class="title2">Assement</h5>

                    <div class="form-group">
                        <!--<label>{{item.examinationSheetList[0].assement}}</label>-->
                        <input type="text" value="{{item.examinationSheetList[0].assement}}" class="form-control"/>
                    </div>
                </div>

                <div>
                    <div class="" ng-if="item.drugsList &&item.drugsList.length">

                        <h3 class="title2">treatment plan</h3>

                        <div ng-repeat="treatment in item.drugsList track by $index ">
                            <div class="treat">
                                <div class="row">

                                    <div class="col-md-3 col-xs-6">
                                        <div class="form-group">
                                            <label class=" control-label">Name/Active</label>
                                            <p>{{treatment.name}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">Dose</label>
                                            <p>{{treatment.dose}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">Duration</label>
                                            <p>{{treatment.duration}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">notes</label>
                                            <p>{{treatment.notes}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">given</label>
                                            <p ng-if="treatment.result">yes</p>
                                            <p ng-if="!treatment.result">no</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button ng-click="vm.autoFillNewVisitDrug(item.drugsList)">ReFill</button>
                    </div>

                    <hr>

                    <div class="" ng-if="item.drugsList && item.radiologyList.length">

                        <h3 class="title2">radiology</h3>

                        <!--<div class="invest_item"  ng-repeat="followRadio in item.radiologyList track by $index ">-->

                        <div ng-repeat="followRadio in item.radiologyList | startFrom:vm.currentRadio*1 | limitTo:5">
                            <!--<p><span>Name : </span> {{followRadio.name}}</p>-->

                            <!--<p><span>notes : </span> {{followRadio.notes}}</p>-->

                            <!--<p><span>result : </span> <span ng-bind-html="followRadio.result"></span></p>-->

                            <!--<p><span>Attachment : </span></p>-->

                            <!--<button type="button" class="btn btn-primary" ng-click="vm.openFile(followRadio.id,2)">-->
                            <!--Download-->
                            <!--</button>-->
                            <div ng-click="vm.openRadioLapResultModal(followRadio)" class="new_investigation">
                                <label class="invest_status" ng-class="{'bg_green':followRadio.status ==='New'
                             ,'bg_red': followRadio.status !=='New'}"> {{followRadio.status}}</label>

                                <label class="invest_data bg_gray">
                                    <span>{{followRadio.name}} {{followRadio.type}} {{followRadio.bodyPart}} {{followRadio.direction}} {{followRadio.notes}},</span>
                                    <span ng-bind-html="followRadio.result"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-if="item.radiologyList.length >5">
                            <div style="margin-left: 35%;">
                                <button class="btn btn-default" ng-disabled="vm.currentRadio == 0"
                                        ng-click="vm.decrementPaginmation(false,5)"> Previous
                                </button>
                                {{vm.currentRadioIndex+1}}/ {{ Math.ceil(item.radiologyList.length/5)}}

                                <button class="btn btn-primary"
                                        ng-disabled="vm.currentRadio >= item.radiologyList.length/5 - 1"
                                        ng-click="vm.incrementPaginmation(false,5)"> Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="" ng-if="item.drugsList && item.analysisList.length">
                        <h3 class="title2">lab</h3>
                        <!--<div ng-repeat="followLab in item.analysisList track by $index ">-->
                        <!--&lt;!&ndash;<h3>Follow Up</h3>&ndash;&gt;-->
                        <!--<p><span>Name : </span> {{followLab.name}}</p>-->

                        <!--<p><span>notes : </span> {{followLab.notes}}</p>-->

                        <!--<p><span>result : </span>-->
                        <!--<div ng-bind-html="followLab.result"></div>-->

                        <!--<p><span>Attachment : </span></p>-->

                        <!--<button type="button" class="btn btn-primary" ng-click="vm.openFile(followLab.id,1)">-->
                        <!--Download-->
                        <!--</button>-->
                        <!--</p>-->

                        <!--<hr>-->
                        <!--</div>-->
                        <div ng-repeat="followLab in item.analysisList | startFrom:vm.currentLap*1 | limitTo:5">
                            <div ng-click="vm.openRadioLapResultModal(followLab)" class="new_investigation">
                                <label class="invest_status" ng-class="{'bg_green':followLab.status ==='New'
                             ,'bg_red': followLab.status !=='New'}"> {{followLab.status}}</label>

                                <label class="invest_data bg_gray">
                                    <span>{{followLab.name}} {{followLab.notes}},</span>
                                    <span ng-bind-html="followLab.result"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-if="item.analysisList.length >5">
                            <div style="margin-left: 35%;">
                                <button class="btn btn-default" ng-disabled="vm.currentLap == 0"
                                        ng-click="vm.decrementPaginmation(true,5)"> Previous
                                </button>
                                {{vm.currentLapIndex+1}}/ {{ Math.ceil(item.analysisList.length/5)}}

                                <button class="btn btn-primary"
                                        ng-disabled="vm.currentLap >= item.analysisList.length/5 - 1"
                                        ng-click="vm.incrementPaginmation(true,5)"> Next
                                </button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
{{item.drugsList}}
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="modal fade" id="saving_model" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="warning_img">
                            <img src="dist/img/warning-road-sign.png"/>
                        </div>

                        <p>Do you want to save this date ?</p>

                        <div class="btno">
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <button type="submit" class="btn btn-success">No</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="modal fade" id="visitRadioLapDetails" role="dialog">
            <div class="modal-dialog">

                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{vm.followRadioLapToShowOnPopUp.name}}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="col-sm-12">
                                <span ng-bind-html="followRadioLapToShowOnPopUp.result"></span>
                                <!--<img class="img-responsive" src="dist/img/1.jpg" />-->
                                <!--<iframe src="{{vm.previewAttached}}" height="100%" width="100%" frameborder="0"></iframe>-->
                                <p>{{vm.previewAttached}}</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="">
                                <button type="submit" class="btn btn-danger"
                                        ng-click="vm.openFile(vm.followRadioLapToShowOnPopUp.id,2)"
                                        data-dismiss="modal">
                                    Download
                                </button>
                                <button type="submit" class="btn btn-danger"
                                        ng-click="vm.openFile(vm.followRadioLapToShowOnPopUp.id,2,true)">
                                    preview
                                </button>
                                <button type="button" class="btn btn-default col-sm-2" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".exametionCollapseOne").hide();

    function exametionCollapse(exametion) {
        $(exametion).next().slideToggle(500);
    }

</script>
