<div  class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/pharmacies/pharmaciesLayout/header.html'"></div>

    <!--aside-->
    <div ng-include="'app-resources/pharmacies/pharmaciesLayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ vm.pharmacies.pharName }}</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!--head-->
            <!--<div ng-include="'app-resources/pharmacies/pharmaciesLayout/head.html'"></div>-->
            <div class="box box-primary" >
                <form ng-submit="vm.GetPatientByCardNumber()">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-header">
                                <h3 class="box-title">Patients</h3>

                                <div class="form-group1">
                                    <label class="col-sm-2 col-xs-12 control-label">Search</label>

                                    <div class="col-sm-6 col-xs-9">
                                        <input class="form-control" ng-model="vm.CardNumber" placeholder="Search....."
                                               type="search">

                                    </div>
                                    <div class="col-sm-3 col-xs-2">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="patients" >
                        <h4 ng-hide="vm.search" class="box-title">No Search Results</h4>

                        <div class="row">
                            <div  ng-show="vm.search" class="col-md-offset-3 col-md-5">

                                <a  class="col-md-4 col-xs-6" href="#"><img class="img-responsive"
                                                                           src={{vm.patient.picture}}
                                                                           alt="Red dot"/></a>
                                <div class="col-md-8 col-xs-6 date">
                                    <a href="#"><p><span>Name : </span> {{vm.patient.patientName}}</p></a>
                                    <p><span>Mobile Number : </span> {{vm.patient.mobileNumber}}</p>
                                    <button  ng-click="vm.viewTreatments(vm.patient)"
                                             style="margin-top: 5%" class="btn btn-primary">Patient Treatments
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper -->