<div class="wrapper">

	<!-- Main Header -->
	<div ng-include="'app-resources/patient/patientlayout/header.html'"></div>
	<!--aside-->
	<div ng-controller="PatientHomeController as vm" ng-include="'app-resources/patient/patientlayout/aside.html'"></div>


	<div class="content-wrapper" >
		<section class="content-header">
			<h1>{{ vm.selectedDoctor.doctorName}}</h1>
			<!--<ol class="breadcrumb">-->
				<!--<li><a href="#!/login" ng-click="vm.logOut()"><i class="fa fa-dashboard"></i> Sign out</a></li>-->
			<!--</ol>-->
		</section>

	<section class="content">

		<div class="head">
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img class="img-responsive" src="{{vm.selectedDoctor.picture}}"/>
				</div>

				<div class="col-md-10 col-sm-6 col-xs-12">
					<p class="col-xs-12 header1"><strong>{{ vm.selectedDoctor.doctorName }}</strong></p>
					<p class="col-xs-12"><span>E-mail :</span>{{ vm.selectedDoctor.email }}</p>
					<p class="col-xs-12"><span>Gender : </span> {{ vm.selectedDoctor.gender }} </p>
					<p class="col-xs-12"><span>Speciality : </span> {{ vm.selectedDoctor.specialty }} </p>
					<p class="col-md-7"><span>Sub-Speciality : </span> {{ vm.selectedDoctor.subSpecialty }}</p>
				</div>
			</div>
		</div>

		<div class="data">
			<div class="box box-danger">
				<div class="bio">
					<h3>Brief Profile :</h3>
					<!--<button type="button" class="btn btn-box-tool" style="color:#000; float:right; margin-top:-3.6%;"><i class="fa fa-pencil fa-lg"></i></button>-->
					<p>{{vm.doctor.briefProfile}}</p>
				</div>

				<div class="bio">
					<h3>Bio :</h3>
					<!--<button type="button" class="btn btn-box-tool" style="color:#000; float:right; margin-top:-3.6%;"><i class="fa fa-pencil fa-lg"></i></button>-->
					<ul>
						<li>{{vm.doctor.bio}}</li>
					</ul>
				</div>

				<div class="clinic bio" >
					<h3>Doctor Clinics : </h3>
					<div  class="row">

						<div data-ng-repeat="clinic in vm.Clinics"  class="col-md-4 col-sm-12">
							<div  class="clin">
								<p><strong>{{clinic.areaLocation}}</strong></p>
								<p><span>Governerate : </span> {{clinic.governmentLocation}}</p>
								<p><span>address : </span> {{clinic.address}}</p>
								<p><span>phone1 : </span> {{clinic.phone1}}</p>
								<p><span>phone2 : </span> {{clinic.phone2}}</p>
								<p><span>phone3 : </span> {{clinic.phone3}}</p>
								<!--<div class="butn"> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Reservation  Form</button> </div>-->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	</div>
	<!-- Main Footer -->
	<div ng-include="'app-resources/layout/footer.html'"></div>

</div>