<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header">
        <h1>Patient Profile</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">PHR</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <div class="box-header">
                        <h3 class="box-title">Patient Data</h3>
                    </div>

                    <div class="box-body">

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Full Name</label>

                            <div class="col-sm-6 padding_zero">
                                <span> Andrew saad </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Mobile Number</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Relative Mobile Number</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">E-mail</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Gender</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Date Of Birth</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">government</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Area</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Address</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Marital Status</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">offsprings</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">National ID</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Chronic Diseases</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Present Medications</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Allergien</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Surgeries</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Blood Group</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Smoker</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Hypertension</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="col-sm-6 padding_zero">Diabetes</label>

                            <div class="col-sm-6 padding_zero">
                                <span> 01120217655 </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Patient History</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Doctor Name</th>
                                <th>Specialty</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td><a data-toggle="modal" data-target="#myModal3">1</a></td>
                                <td>John Doe</td>
                                <td>Heart</td>
                                <td>Pharmacy</td>
                                <td>2/2/2019</td>
                                <td><span class="label label-success">Done</span></td>
                            </tr>
                            <tr>
                                <td><a data-toggle="modal" data-target="#myModal3">2</a></td>
                                <td>John Doe</td>
                                <td>Heart</td>
                                <td>Pharmacy</td>
                                <td>2/2/2019</td>
                                <td><span class="label label-success">Done</span></td>
                            </tr>
                            <tr>
                                <td><a data-toggle="modal" data-target="#myModal3">3</a></td>
                                <td>John Doe</td>
                                <td>Heart</td>
                                <td>Radiology center</td>
                                <td>2/2/2019</td>
                                <td><span class="label label-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <td><a data-toggle="modal" data-target="#myModal3">4</a></td>
                                <td>John Doe</td>
                                <td>Heart</td>
                                <td>Pharmacy</td>
                                <td>2/2/2019</td>
                                <td><span class="label label-success">Done</span></td>
                            </tr>
                            <tr>
                                <td><a data-toggle="modal" data-target="#myModal3">5</a></td>
                                <td>John Doe</td>
                                <td>Heart</td>
                                <td>Lab</td>
                                <td>2/2/2019</td>
                                <td><span class="label label-danger">Denied</span></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Pharmacy</h4>
                            </div>
                            <div class="modal-body">
                                <div class="data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="rosheta">

                                                <div class="rosheta-title">
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="r-left-side">
                                                                <h3>Doctor</h3>
                                                                <h2>Ahmed Mohamed</h2>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="r-right-side">

                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 col-sm-3">Name</label>

                                                                        <div class="col-sm-9">
                                                                            <input class="form-control" placeholder="name........" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label class="col-md-2 col-sm-3">Date</label>

                                                                        <div class="col-sm-9">
                                                                            <input class="form-control" placeholder="Date........" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="r-line"></div>

                                                <div class="rosheta-content">

                                                    <div class="r-item">
                                                        <form>
                                                            <div class="treat">
                                                                <div class="row">

                                                                    <div class="col-md-1">
                                                                        <div class="form-group">
                                                                            <p class="sign-r">R</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class=" control-label">Name/Active</label>
                                                                            <p>folmox-500</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Type</label>
                                                                            <p>Injection</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Dose</label>
                                                                            <p>3 times per day</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Duration</label>
                                                                            <p>one week</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </form>

                                                        <p class="r-note">Take it after eating</p>
                                                    </div>

                                                    <div class="r-item">
                                                        <form>
                                                            <div class="treat">
                                                                <div class="row">

                                                                    <div class="col-md-1">
                                                                        <div class="form-group">
                                                                            <p class="sign-r">R</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class=" control-label">Name/Active</label>
                                                                            <p>folmox-500</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Type</label>
                                                                            <p>Injection</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Dose</label>
                                                                            <p>3 times per day</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Duration</label>
                                                                            <p>one week</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </form>

                                                        <p class="r-note">Take it after eating</p>
                                                    </div>

                                                    <div class="r-item">
                                                        <form>
                                                            <div class="treat">
                                                                <div class="row">

                                                                    <div class="col-md-1">
                                                                        <div class="form-group">
                                                                            <p class="sign-r">R</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class=" control-label">Name/Active</label>
                                                                            <p>folmox-500</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Type</label>
                                                                            <p>Injection</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Dose</label>
                                                                            <p>3 times per day</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2 col-xs-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Duration</label>
                                                                            <p>one week</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </form>

                                                        <p class="r-note">Take it after eating</p>
                                                    </div>
                                                </div>

                                                <div class="r-line"></div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
