<div class="wrapper">

    <!-- Main Header -->
    <div ng-include="'app-resources/patient/patientlayout/header.html'"></div>
    <!--aside-->
    <div ng-controller="PatientHomeController as vm" ng-include="'app-resources/patient/patientlayout/aside.html'"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        
                        <div class="box-header">
                            <h3 class="box-title">التاريخ المرضى (الروشتة والتحاليل)</h3>
                        </div>
                        
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                
                                <tr>
                                    <th>التاريخ</th>
                                    <th>المزود</th>
                                    <th>النوع</th>
                                    <th>الحالة</th>
                                </tr>
                                
                                <tr ng-repeat="timeLine in vm.patientTimeLine track by $index " data-toggle="modal"
                                    data-target="#myModal3"
                                    ng-click="vm.getCurrentTimeLineDetails(timeLine)">
                                    <td>{{timeLine.date |date}}</td>
                                    <td>{{timeLine.doctorName}} </br> <span style="font-size: 14px; color: gray">{{timeLine.speciality}}</span></td>
                                    <td>{{timeLine.operationName}} </br> <span style="font-size: 14px; color: gray">{{timeLine.notes}}</span></td>
                                    <td><span class="label" ng-class=" {'label-success' : timeLine.status ==='Finished',
                                        'label-danger':timeLine.status ==='New','label-warning':timeLine.status ==='InProgress'}">{{timeLine.status}}</span>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="modal " id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{vm.selectedTimeLine.operationName}} </br> <span style="font-size: 14px; color: gray">{{vm.selectedTimeLine.notes}}</span></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="data">
                                        <div class="row" ng-if="vm.showDrugs">
                                            <div class="col-xs-12 ">
                                                <!--follow clin-->
                                                <div class="follow clin">

                                                    <div ng-repeat="treatment in vm.followUp.drugsList track by $index ">
                                                        <div class="treat">
                                                            <div class="row">
                                                                
                                                                <div class="col-md-3 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label class=" control-label">الاسم</label>
                                                                        <p>{{treatment.name}}</p>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-md-2 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">الجرعة</label>
                                                                        <p>{{treatment.dose}}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">المدة الزمنية</label>
                                                                        <p>{{treatment.duration}}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">الملاحظات</label>
                                                                        <p>{{treatment.notes}}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-2 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">معطى</label>
                                                                        <p ng-if="treatment.result">نعم</p>
                                                                        <p ng-if="!treatment.result">لا</p>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="r-line row"></div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="vm.showLabTest">
                                            <div class="col-xs-12">
                                                <div class="follow clin">
                                                    <div>
                                                        <p><div ng-bind-html="vm.followLab.result"></div></p>
                                                        <button type="button" class="btn btn-primary" ng-click="vm.openFile(vm.followLab.id,1)">تحميل
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-if="vm.radiotest">
                                            <div class="col-xs-12">
                                                <div class="follow clin">
                                                    <div>
                                                        <p><span ng-bind-html="vm.followRadio.result"></span></p>
                                                        <button  type="button" class="btn btn-primary" ng-click="vm.openFile(followRadio.id,2)">تحميل
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div ng-include="'app-resources/layout/footer.html'"></div>

</div>
<!-- ./wrapper --