<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left">
                <img id="circle"  style="width: 40px; height: 40px;" class="img-circle" alt="User Image">
                <!--<h4> Support Team <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4>-->
                <!-- The message -->
                <!--<p>Why not buy a new awesome theme?</p>-->

            </div>
            <div class="pull-left info">
                <!--<p>{{ vm.pharmacies.pharName }}</p>-->
                <!-- Status -->
                <!--<a href="#">Surgry Doctor</a>-->
            </div>
        </div>

        <!-- search form (Optional) -->
        <!--<h4 class="flow"> <i class="fa fa-rss"></i> 123 Followers</h4>-->
        <!--<div class="rate"><span>4.5</span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> </div>-->
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>

            <li><a href="#!/pharmacies"><i class="fa fa-home"></i> <span>Home</span></a></li>

            <li><a href="#!/pharmacies/patientLog"><i class="fa fa-users"></i> <span>Patients Log</span></a></li>
            <li><a href="#!/pharmacies/setting"><i class="fa fa-users"></i> <span>Settings </span></a></li>

            <!--<li class="treeview active">-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-user"></i> <span>Profile</span>&ndash;&gt;-->
            <!--<span class="pull-right-container">-->
            <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
            <!--</a>-->
            <!--<ul class="treeview-menu">-->
            <!--&lt;!&ndash;<li  class="active"><a href="#">About Me</a></li>&ndash;&gt;-->
            <!--<li><a href="#">Billing</a></li>-->
            <!--<li><a href="notifications.html">Notifications</a></li>-->
            <!--</ul>-->
            <!--</li>-->

            <!--<li><a href="schedule.html"><i class="fa fa-calendar"></i> <span>Schedule</span></a></li>-->
        </ul>
        <!-- /.sidebar-menu -->

    </section>
    <!-- /.sidebar -->
</aside>